${Common/pageHeader}

<body>

    ${Common/bodyHeader}

    <div id="pageContent" class="container">
        <div class="span-16 last box-grey">

            <h1>Newsletter Subscription</h1>
            <script type="text/javascript" src="http://sendgrid.com/newsletter-classic/getSubscriptionWidget?p=uFifLWryjda0pRh2sYFJ%2B9E0MfHGM44FzoTrA4qcYPJ9BHMIPkgHpmSguJcxm6oG"> </script>
            <!-- TODO: Plugin works but is still in beta -->
        </div>
    </div>

    ${Common/bodyFooter}

</body>

${Common/pageFooter}
