${Common/pageHeader}

<body>

    ${Common/bodyHeader}

    <div id="pageContent" class="container">
      <div class="span-16 last box-grey">
        <h1>About oneloudr</h1>
        <br/>
        <p>
oneloudr is a groundbreaking platform for musicians, writers, producers and labels to collaborate on original music together. oneloudr helps artists earn money from their original work and collaborations by finding licensing opportunities from companies that need music for their business needs.
		</p>
		<br/>
		<br/>
			<h2>We are a community for Co-Writers.</h2>
		<br/>
		<p>
oneloudr gives everyone a chance to share in the creative process of making music.  If you have access to your favorite digital recording software like (Pro Tools, Logic, Cubase, Garageband, etc.), and an internet connection, you can record your musical ideas and upload your bounced audio tracks or entire sessions to oneloudr.  Other artists will have the opportunity to download and expand on your original work and then upload their contributions to your artist profile.  Each new remix of an original track from a oneloudr member is offered as a "pay what you want" download for fans, and a separate "purchase license for business needs" for Film/TV, game companies, retail stores and many more businesses.
        </p>
		<p>If you are an artist, we've made it extremely easy to get paid for your work. If someone has remixed your original music and uploaded their version back to your profile, it is automatically made available in their widget as well. You both get paid 50% of the earnings from the sale of that remixed work. Now imagine if there are hundreds of remixed versions of your original track, all available for licensing and a "pay what you want" download for fans. This means many more opportunities to get paid for your initial work.  All you need is a free <a href="http://www.paypal.com" target="_blank">Paypal account</a> so we can send you your earnings.
		</p>
		<br/>
		<br/>
			<h2>oneloudr simplifies Music Licensing for Co-writers</h2>
		<br/>
		<p>
With oneloudr, artists agree to work together and co-write new pieces of music that are then made available to the global marketplace of music licensing.  We provide the legal framework regarding the copyrights and ownership of work so artists can spend their time creating music together, instead of hassling with the complicated legal terms that traditionally comes with writing and licensing music.
		</p>
		<p>
		Artists create their free profile and upload their music to create their own oneloudr music collaboration and licensing widget. This can be embedded on their favorite social network, blog, or website. Just click the "grab this" button and embed your music collaboration and licensing widget as easily as a youtube video. Once the widget is visible online, anyone who sees it can listen, purchase and download a music track for commercial licensing or personal use. Artists on oneloudr choose the licensing price they want companies to pay for their work.  When their music sells, the Artists get 90% of the profit!
		</p>
		<br/>
		<br/>
			<h2>Private or Public Tracks</h2>
		<br/>
		<p>
Artist's have the choice of sharing their "work-in-progress" with the entire oneloudr community, or limiting the song creation process to their select list of collaborators. If your last band broke up because your drummer moved across the country, simply connect on oneloudr, and share your recording sessions.  Now there is no excuse for not finishing that hit that never made it off your hard drive.
		</p>
		<br/>
		<br/>
			<h2>How to get started</h2>
		<br/>
		<p>
Upload a high quality Mp3 of an original piece of music you created, and or own the copyright to. This should be a high quality Mp3 encoded at 128kbps at 44.1kHz or above. Full production stems or entire sessions should also be uploaded and associated with your mp3 track as separate uncompressed .wav files or an entire .zip file of your recording session as bounced .wav or Mp3 stems.
        </p>
        <p>oneloudr members can remix other members tracks by downloading the production tracks (stems) from the widget, and then uploading a high quality Mp3 "remixed" version of their contributions to the original artist profile on oneloudr.  Both the original version and remix are made available for licensing and placement opportunities to our growing list of partners.
		<br />If a remix between two oneloudr members is licensed, each artist splits the profits 50/50.  All mp3 tracks are made available as a "pay what you want" download under a <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" target="_blank">Creative Commons Non-Commercial License</a>
        </p>
		<br/>As an artist or band, you can update your profile when you need to.  We will never spam you, or give out your email address to third parties.
<p>
		<br/>We are currently operating in "beta" mode.  This means you are an early adopter of our service and know a good thing when you see one, but it also means that you may occasionally experience small "bugs" on the site.  When this happens, we would appreciate your feedback by simply clicking on the feedback button on the left side of the screen on the tracks page.  This way we can address the problem quickly.  If you have any other suggestions on how to
get the most use out of our service, please let us know when a great idea hits you.  We're happy you found us, and we look forward to providing the best collaboration and licensing service for artists online!
		</p>

		<br/>
		<br/>
		<br/>

		<h2>Images and Icons</h2>

		<p>
		  Info-Icon by <a href="http://pixel-mixer.com/" target="_blank">PixelMixer</a>
		</p>

		<br/>
		<br/>
      </div>
    </div>

    ${Common/bodyFooter}

</body>

${Common/pageFooter}
