${Common/pageHeader}

<body>

    ${Common/bodyHeader}

    <div id="pageContent" class="container">
        <div class="span-16 last box-grey">



            <h1>Oneloudr</h1>
            <p>
                is a platform for musicians to collaborate in the music making, discovery and selling process.
                Artists create music with each other in a co-ownership arrangement.
                We simplify the process of making great music together and creating ways 
                to get paid for your original music.
            </p>

            <h2>We are a Community for Co-Writers.</h2>
            <p>
                Oneloudr gives everyone a chance to share in the creative process of making music. 
                If you have access to your favorite digital recording software like (Pro Tools, Logic, 
                Cubase, Garageband, etc.), and an internet connection, you can record your musical 
                ideas and upload your bounced audio tracks and mixes to oneloudr. Other artists 
                will have the opportunity to download and expand on your original work and then 
                upload their contributions to your artist profile.
            </p>

            <h2>Private or Public Tracks</h2>
            <p>
                Artist's have the choice of sharing their "work-in-progress" with the entire oneloudr 
                community, or limiting the song creation process to their select list of collaborators. 
                If your last band broke up because your drummer moved across the country, simply 
                connect on oneloudr, and share your recording sessions. Now there is no excuse 
                for not finishing that hit that never made it off your hard drive.
            </p>

            <h2>Get Started!</h2>

            <p>
                As an artist or band, you can update your profile when you need to. We will never 
                spam you, or give out your email address to third parties.
            </p>

            <p>
                We are currently operating in "beta" mode. This means you are an early adopter 
                of our service and know a good thing when you see one, but it also means 
                that you may occasionally experience small "bugs" on the site. When this happens, 
                we would appreciate your feedback by simply clicking on the feedback button on 
                the left side of the screen on the tracks page. This way we can address the 
                problem quickly. If you have any other suggestions on how to get the most 
                use out of our service, please let us know when a great idea hits you.
            </p>
            <p>
                We're happy you found us, and we look forward to providing the best way for 
                musicians to create and earn together online!
            </p>

        </div>
    </div>

    ${Common/bodyFooter}

</body>

${Common/pageFooter}
