${Common/pageHeader}

<body>

${Common/bodyHeader}


<div id="pageContent" class="container">

    <div class="span-16">
    <div class="box-grey">
        <h1>${headline}</h1>
        <br />

        ${Common/message_choice_list}

        <form action="${formAction}" name="userForm" method="POST" enctype="multipart/form-data" style="display:inline-block;">
            <input type="hidden" name="action" value="save">
            <input type="hidden" name="signupAs" value="${signupAs}">
            <input type="hidden" name="userAttributesList" id="userAttributesList" value="">
            <input type="hidden" name="userGenresList" id="userGenresList" value="">
            <input type="hidden" name="latitude" value="${latitude}">
            <input type="hidden" name="longitude" value="${longitude}">
            ${Common/formElement_section1_list}

            <div id="userImageFormRow" class=" formElement span-15 last">
                <div class="span-6">&nbsp;</div>
                <div class="span-8">
                    ${userImage_choice}
                </div>
            </div>

            ${Account/chooseLocationLink_optional}

            ${Common/formElement_section2_list}

            <div class="prepend-6 span-6 last">
                <input type="submit" class="${submitButtonClass} button blue" value="${submitButtonValue}" onClick="buildUserAttributesAndGenresLists();">
            </div>
        </form>

    </div>
    </div>

    <div class="span-8 last">
        <div  class="box-grey">

            <img src="${userImgUrl}" width="200" />

            <h1>${userName}</h1>
            ${Common/externalWebLink_optional}
            ${Common/sendMessage_optional}
            ${Artist/artistInfo_optional}
            ${Artist/additionalInfo_optional}

        </div>
    </div>

</div>

${Common/bodyFooter}

</body>

<script type="text/javascript">

function showTermsAndConditions() {
    window.open('termsAndConditions.php','TERMS_AND_CONDITIONS','scrollbars=yes,resizable=yes,status=0,width=1100,height=600');
}

function buildUserAttributesAndGenresLists() {
    if ($('#attributes').val()) {
        var aList = $('#attributes').val().join(','); // create comma separated list string ...
        $('#userAttributesList').val(aList); // ... and save the string in the hidden field
    }

    if ($('#genres').val()) {
        var gList = $('#genres').val().join(','); // create comma separated list string ...
        $('#userGenresList').val(gList); // ... and save the string in the hidden field
    }
}

// convert all select fields with special class to chosen thingies
$(".chzn-select").chosen();

</script>

${Common/pageFooter}
