<div class="span-8 last">
    <div class="box-grey">
        <div class="sidetwo">
            <div class="sidetwoLeft">
                <img src="${userImgUrl}" width="55" />
            </div>
            <div class="sidetwoRight">
                <h1>${userName}</h1>
            </div>
            <div class="clear"></div>
        </div>

        <div class="line">&nbsp;</div>

        <p>
          Skills:<br />
          ${skills}
        </p>

        <div class="line">&nbsp;</div>

        <p>
          Genres:<br />
          ${genres}
        </p>

        <div class="line">&nbsp;</div>

        <p>
          Tools:<br />
          ${tools}
        </p>

        <div class="line">&nbsp;</div>

        ${Account/video_optional}

        ${Account/artistInfo_optional}

        ${Account/influences_optional}

        ${Common/externalWebLink_list}

    </div>
</div>