# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
*.py[oc]

#settings_local.py

Includes/Config_local.php
Log/*.log
Content/

.DS_Store
*.bak
*.swp



Uploader/uploads/p167tde61s1a9bb4ah081037k884.mp3

Uploader/uploads/p167tdd0d59plq271ipt1pmn46k3.wav
