<FilesMatch "README$">
deny from all
</FilesMatch>

<FilesMatch "\.(txt|doc|docx|xls|xlsx|git|gitignore)$">
deny from all
</FilesMatch>

RewriteEngine On
RewriteRule ^$ Site/index.php
# if not file or directory exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# rewrite artist to Site/artist.php
RewriteRule ^(.*)$ Site/$1.php [QSA]

