#RewriteEngine on 
#
#RewriteBase /
#RewriteCond %{REQUEST_URI} ^/invite/?$
#RewriteRule .* Site/subscription.php 
#RewriteRule ^invite/([^/]+)/?$ Site/subscription.php?referrer=$1
#RewriteRule ^invite/([^/]+)/([^/]+) Site/subscription.php?referrer=$1&action=$2 

AddHandler php5-script .php

<FilesMatch "README$">
deny from all
</FilesMatch>

<FilesMatch "\.(txt|doc|docx|xls|xlsx|git|gitignore)$">
deny from all
</FilesMatch>

