${Common/pageHeader}

<body>

${Common/bodyHeader}


    <div class="container">

        <div class="span-16">

            <div  class="span-16 last">
                <div id="galleria">
                    <img src="../Images/testimages/grammatics.jpeg" alt="My description" title="My title">
                    <img src="../Images/testimages/iliketrains.jpeg" alt="My description" title="My title">
                    <img src="../Images/testimages/kaisercartel.jpeg" alt="My description" title="My title">
                    <img src="../Images/testimages/llukereynolds.jpeg" alt="My description" title="My title">
                    <img src="../Images/testimages/natty.jpeg" alt="My description" title="My title">
                </div>
            </div>


            <div class="span-16 last">
                <br/>

                <div class="span-16 last">
                    <ul class="tabs">
                        <li class="tabsItem"><a href="#" class="tab-1 tabsAct">Featured Artist</a></li>
                        <li class="tabsItem"><a href="#" class="tab-2">Latest Artist</a></li>
                        <li class="tabsItem"><a href="#" class="tab-3">Genre</a></li>
                    </ul>
                </div>

                <div class="span-16 last tabcontent-1 tabcontentAct">
                    <div  class="trackList">

                        <div class="span-16 trackListItem" style="background-color: transparent; ">
                            <div class="span-2">
                                &nbsp;
                                <img src="http://localhost:8888/notethrower/Images/no_artist_image.png" height="25">
                            </div>
                            <div class="span-8">
                                <a href="#">Hanno Banano or New audio track</a>
                            </div>
                            <div class="span-4">
                                <span class="small"> by Artistname</span>
                            </div>
                            <div class="span-2 last">
                                <a href="playTrack(75);" class="trackListButton trackListPlay">&nbsp;</a>
                                <a href="#" class="trackListButton trackListStar">&nbsp;</a>
                            </div>
                        </div><div class="span-16 trackListItem" style="background-color: transparent; ">
                            <div class="span-2">
                                &nbsp;
                                <img src="http://localhost:8888/notethrower/Images/no_artist_image.png" height="25">
                            </div>
                            <div class="span-8">
                                <a href="#">Hanno Banano or New audio track</a>
                            </div>
                            <div class="span-4">
                                <span class="small"> by Artistname</span>
                            </div>
                            <div class="span-2 last">
                                <a href="playTrack(74);" class="trackListButton trackListPlay">&nbsp;</a>
                                <a href="#" class="trackListButton trackListStar">&nbsp;</a>
                            </div>
                        </div><div class="span-16 trackListItem" style="background-color: transparent; ">
                            <div class="span-2">
                                &nbsp;
                                <img src="http://localhost:8888/notethrower/Images/no_artist_image.png" height="25">
                            </div>
                            <div class="span-8">
                                <a href="#">Hanno Banano or New audio track</a>
                            </div>
                            <div class="span-4">
                                <span class="small"> by Artistname</span>
                            </div>
                            <div class="span-2 last">
                                <a href="playTrack(73);" class="trackListButton trackListPlay">&nbsp;</a>
                                <a href="#" class="trackListButton trackListStar">&nbsp;</a>
                            </div>
                        </div><div class="span-16 trackListItem">
                            <div class="span-2">
                                &nbsp;
                                <img src="http://localhost:8888/notethrower/Images/no_artist_image.png" height="25">
                            </div>
                            <div class="span-8">
                                <a href="#">Hanno Banano or New audio track</a>
                            </div>
                            <div class="span-4">
                                <span class="small"> by Artistname</span>
                            </div>
                            <div class="span-2 last">
                                <a href="playTrack(72);" class="trackListButton trackListPlay">&nbsp;</a>
                                <a href="#" class="trackListButton trackListStar">&nbsp;</a>
                            </div>
                        </div><div class="span-16 trackListItem" style="background-color: transparent; ">
                            <div class="span-2">
                                &nbsp;
                                <img src="http://localhost:8888/notethrower/Images/no_artist_image.png" height="25">
                            </div>
                            <div class="span-8">
                                <a href="#">Hanno Banano or New audio track</a>
                            </div>
                            <div class="span-4">
                                <span class="small"> by Artistname</span>
                            </div>
                            <div class="span-2 last">
                                <a href="playTrack(71);" class="trackListButton trackListPlay">&nbsp;</a>
                                <a href="#" class="trackListButton trackListStar">&nbsp;</a>
                            </div>
                        </div>
                        <div class="span-16 trackListItem" style="background-color: transparent; ">
                            <div class="span-2">
                                &nbsp;
                                <img src="http://localhost:8888/notethrower/Images/no_artist_image.png" height="25">
                            </div>
                            <div class="span-8">
                                <a href="#">Hanno Banano or New audio track-test2</a>
                            </div>
                            <div class="span-4">
                                <span class="small"> by Artistname</span>
                            </div>
                            <div class="span-2 last">
                                <a href="playTrack(45);" class="trackListButton trackListPlay">&nbsp;</a>
                                <a href="#" class="trackListButton trackListStar">&nbsp;</a>
                            </div>
                        </div>
                        <div class="span-16 trackListItem" style="background-color: transparent; ">
                            <div class="span-2">
                                &nbsp;
                                <img src="http://localhost:8888/notethrower/Images/no_artist_image.png" height="25">
                            </div>
                            <div class="span-8">
                                <a href="#">Hanno Banano or New audio track-test2</a>
                            </div>
                            <div class="span-4">
                                <span class="small"> by Artistname</span>
                            </div>
                            <div class="span-2 last">
                                <a href="playTrack(45);" class="trackListButton trackListPlay">&nbsp;</a>
                                <a href="#" class="trackListButton trackListStar">&nbsp;</a>
                            </div>
                        </div>
                        <div class="span-16 trackListItem" style="background-color: transparent; ">
                            <div class="span-2">
                                &nbsp;
                                <img src="http://localhost:8888/notethrower/Images/no_artist_image.png" height="25">
                            </div>
                            <div class="span-8">
                                <a href="#">Hanno Banano or New audio track-test2</a>
                            </div>
                            <div class="span-4">
                                <span class="small"> by Artistname</span>
                            </div>
                            <div class="span-2 last">
                                <a href="playTrack(45);" class="trackListButton trackListPlay">&nbsp;</a>
                                <a href="#" class="trackListButton trackListStar">&nbsp;</a>
                            </div>
                        </div>
                        <div class="span-16 trackListItem" style="background-color: transparent; ">
                            <div class="span-2">
                                &nbsp;
                                <img src="http://localhost:8888/notethrower/Images/no_artist_image.png" height="25">
                            </div>
                            <div class="span-8">
                                <a href="#">Hanno Banano or New audio track-test2</a>
                            </div>
                            <div class="span-4">
                                <span class="small"> by Artistname</span>
                            </div>
                            <div class="span-2 last">
                                <a href="playTrack(45);" class="trackListButton trackListPlay">&nbsp;</a>
                                <a href="#" class="trackListButton trackListStar">&nbsp;</a>
                            </div>
                        </div>
                        <div class="span-16 trackListItem" style="background-color: transparent; ">
                            <div class="span-2">
                                &nbsp;
                                <img src="http://localhost:8888/notethrower/Images/no_artist_image.png" height="25">
                            </div>
                            <div class="span-8">
                                <a href="#">Hanno Banano or New audio track-test2</a>
                            </div>
                            <div class="span-4">
                                <span class="small"> by Artistname</span>
                            </div>
                            <div class="span-2 last">
                                <a href="playTrack(45);" class="trackListButton trackListPlay">&nbsp;</a>
                                <a href="#" class="trackListButton trackListStar">&nbsp;</a>
                            </div>
                        </div>
                        <div class="span-16 trackListItem" style="background-color: transparent; ">
                            <div class="span-2">
                                &nbsp;
                                <img src="http://localhost:8888/notethrower/Images/no_artist_image.png" height="25">
                            </div>
                            <div class="span-8">
                                <a href="#">Hanno Banano or New audio track-test2</a>
                            </div>
                            <div class="span-4">
                                <span class="small"> by Artistname</span>
                            </div>
                            <div class="span-2 last">
                                <a href="playTrack(45);" class="trackListButton trackListPlay">&nbsp;</a>
                                <a href="#" class="trackListButton trackListStar">&nbsp;</a>
                            </div>
                        </div>
                        <div class="span-16 trackListItem" style="background-color: transparent; ">
                            <div class="span-2">
                                &nbsp;
                                <img src="http://localhost:8888/notethrower/Images/no_artist_image.png" height="25">
                            </div>
                            <div class="span-8">
                                <a href="#">Hanno Banano or New audio track-test2</a>
                            </div>
                            <div class="span-4">
                                <span class="small"> by Artistname</span>
                            </div>
                            <div class="span-2 last">
                                <a href="playTrack(45);" class="trackListButton trackListPlay">&nbsp;</a>
                                <a href="#" class="trackListButton trackListStar">&nbsp;</a>
                            </div>
                        </div>
                        <div class="span-16 trackListItem" style="background-color: transparent; ">
                            <div class="span-2">
                                &nbsp;
                                <img src="http://localhost:8888/notethrower/Images/no_artist_image.png" height="25">
                            </div>
                            <div class="span-8">
                                <a href="#">Hanno Banano or New audio track-test2</a>
                            </div>
                            <div class="span-4">
                                <span class="small"> by Artistname</span>
                            </div>
                            <div class="span-2 last">
                                <a href="playTrack(45);" class="trackListButton trackListPlay">&nbsp;</a>
                                <a href="#" class="trackListButton trackListStar">&nbsp;</a>
                            </div>
                        </div>
                        <div class="span-16 trackListItem" style="background-color: transparent; ">
                            <div class="span-2">
                                &nbsp;
                                <img src="http://localhost:8888/notethrower/Images/no_artist_image.png" height="25">
                            </div>
                            <div class="span-8">
                                <a href="#">Hanno Banano or New audio track-test2</a>
                            </div>
                            <div class="span-4">
                                <span class="small"> by Artistname</span>
                            </div>
                            <div class="span-2 last">
                                <a href="playTrack(45);" class="trackListButton trackListPlay">&nbsp;</a>
                                <a href="#" class="trackListButton trackListStar">&nbsp;</a>
                            </div>
                        </div>
                    </div>
                    <div class="span-16 last">
                        <a href="#">Paginator goes here</a>
                    </div>
                </div>

                <div class="span-16 last tabcontent-2">
                    latest artists
                </div>

                <div class="span-16 last tabcontent-3">
                    genre
                </div>

            </div>


        </div>

        <div class="span-8 last">

            <div class="box-grey">
                <h2>
                    Go on with ONELOUDR.COM and
                    <a href="account.php" class="button button-big green">
                        Sign In
                    </a>
                </h2>
            </div>

            <div class="box-grey">
                <h2>Discover new music support the artists and be a fan.</h2>

                <p>
                    <strong>browse by genre:</strong><br />
                    <a href="#">hip-hop</a>
                    <a href="#">rock</a>
                    <a href="#">electro</a>
                    <a href="#">rap</a>
                    <a href="#">alternative</a>
                    <a href="#">funk</a>
                    <a href="#">jazz</a>
                    <a href="#">soul</a>
                    <a href="#">folk</a>
                    <a href="#">r&b</a>
                    <a href="#">noise</a>
                    <a href="#">dance</a>
                    <a href="#">metal</a>
                    <a href="#">indie</a>
                    <a href="#">instrumental</a>
                </p>
            </div>


            <div class="box-grey">
                <object width="285" height="200">
                    <param  name="movie" 
                    value="http://www.youtube.com/v/PY2jW56o1Zo&amp;hl=en_US&amp;fs=1&amp;" />
                    <param name="allowFullScreen" value="true" />
                    <param name="allowscriptaccess" value="always" />
                    <embed src="http://www.youtube.com/v/PY2jW56o1Zo&amp;hl=en_US&amp;fs=1&amp;" 
                    type="application/x-shockwave-flash"
                    allowscriptaccess="always" 
                    allowfullscreen="true" 
                    width="285" 
                    height="200" />
                </object>
            </div>


            <!-- mailchimp -->
            <div  class="box-grey">


                <!-- Begin MailChimp Signup Form -->
                <!--[if IE]>
                <style type="text/css" media="screen">
                #mc_embed_signup fieldset {position: relative;}
                #mc_embed_signup legend {position: absolute; top: -1em; left: .2em;}
                </style>
                <![endif]--> 
                <!--[if IE 7]>
                <style type="text/css" media="screen">
                .mc-field-group {overflow:visible;}
                </style>
                <![endif]-->

                <div id="mc_embed_signup">
                    <form action="http://beautyparlour.us1.list-manage1.com/subscribe/post?u=7027deab3d08ebf3797bc96b9&amp;id=7142a5713f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <fieldset style="border:0px;">
                            <div class="mc-field-group" >
                                <label for="mce-EMAIL">Email Address <strong class="note-required">*</strong>
                                </label>
                                <input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" style="float: left;top: -1.4em;padding: 0em .5em 0em .5em;overflow: hidden;width: 90%;margin: 0 5%;clear: both;">
                                <div class="response" id="mce-error-response" style="display: none;margin: 1em 0;padding: 1em .5em .5em 0;font-weight: bold;float: left;top: -1.5em;z-index: 1;width: 80%;background: FBE3E4;color: #D12F19;"></div>
                                <div class="response" id="mce-success-response" style="display: none;margin: 1em 0;padding: 1em .5em .5em 0;font-weight: bold;float: left;top: -1.5em;z-index: 1;width: 80%;background: #E3FBE4;color: #529214;"></div>
                            </div>
                            <div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button blue" style="clear: both;width: auto;display: block;margin: 1em 0 1em 5%;"></div>
                        </fieldset>	
                        <a href="#" id="mc_embed_close" class="mc_embed_close" style="display: none;">Close</a>
                    </form>
                </div>
                <script type="text/javascript">
                var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
                try {
                    var jqueryLoaded=jQuery;
                    jqueryLoaded=true;
                } catch(err) {
                    var jqueryLoaded=false;
                }
                var head= document.getElementsByTagName('head')[0];
                if (!jqueryLoaded) {
                    var script = document.createElement('script');
                    script.type = 'text/javascript';
                    script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
                    head.appendChild(script);
                    if (script.readyState && script.onload!==null){
                        script.onreadystatechange= function () {
                            if (this.readyState == 'complete') mce_preload_check();
                        }    
                    }
                }
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
                head.appendChild(script);
                var err_style = '';
                try{
                    err_style = mc_custom_error_style;
                } catch(e){
                    err_style = 'margin: 1em 0 0 0; padding: 1em 0.5em 0.5em 0.5em; background: FFEEEE none repeat scroll 0% 0%; font-weight: bold; float: left; z-index: 1; width: 80%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: FF0000;';
                }
                var head= document.getElementsByTagName('head')[0];
                var style= document.createElement('style');
                style.type= 'text/css';
                if (style.styleSheet) {
                    style.styleSheet.cssText = '.mce_inline_error {' + err_style + '}';
                } else {
                    style.appendChild(document.createTextNode('.mce_inline_error {' + err_style + '}'));
                }
                head.appendChild(style);
                setTimeout('mce_preload_check();', 250);

                var mce_preload_checks = 0;
                function mce_preload_check(){
                    if (mce_preload_checks>40) return;
                    mce_preload_checks++;
                    try {
                        var jqueryLoaded=jQuery;
                    } catch(err) {
                        setTimeout('mce_preload_check();', 250);
                        return;
                    }
                    try {
                        var validatorLoaded=jQuery("#fake-form").validate({});
                    } catch(err) {
                        setTimeout('mce_preload_check();', 250);
                        return;
                    }
                    mce_init_form();
                }
                function mce_init_form(){
                    jQuery(document).ready( function($) {
                        var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
                        var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
                        $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
                        options = { url: 'http://beautyparlour.us1.list-manage.com/subscribe/post-json?u=7027deab3d08ebf3797bc96b9&id=7142a5713f&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                        beforeSubmit: function(){
                            $('#mce_tmp_error_msg').remove();
                            $('.datefield','#mc_embed_signup').each(
                                function(){
                                    var txt = 'filled';
                                    var fields = new Array();
                                    var i = 0;
                                    $(':text', this).each(
                                        function(){
                                            fields[i] = this;
                                            i++;
                                        });
                                        $(':hidden', this).each(
                                            function(){
                                                if (fields.length == 2) fields[2] = {'value':1970};//trick birthdays into having years
                                                if ( fields[0].value=='MM' && fields[1].value=='DD' && fields[2].value=='YYYY' ){
                                                    this.value = '';
                                                } else if ( fields[0].value=='' && fields[1].value=='' && fields[2].value=='' ){
                                                    this.value = '';
                                                } else {
                                                    this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                                }
                                            });
                                        });
                                        return mce_validator.form();
                                    }, 
                                    success: mce_success_cb
                                };
                                $('#mc-embedded-subscribe-form').ajaxForm(options);      

                            });
                        }
                        function mce_success_cb(resp){
                            $('#mce-success-response').hide();
                            $('#mce-error-response').hide();
                            if (resp.result=="success"){
                                $('#mce-'+resp.result+'-response').show();
                                $('#mce-'+resp.result+'-response').html(resp.msg);
                                $('#mc-embedded-subscribe-form').each(function(){
                                    this.reset();
                                });
                            } else {
                                var index = -1;
                                var msg;
                                try {
                                    var parts = resp.msg.split(' - ',2);
                                    if (parts[1]==undefined){
                                        msg = resp.msg;
                                    } else {
                                        i = parseInt(parts[0]);
                                        if (i.toString() == parts[0]){
                                            index = parts[0];
                                            msg = parts[1];
                                        } else {
                                            index = -1;
                                            msg = resp.msg;
                                        }
                                    }
                                } catch(e){
                                    index = -1;
                                    msg = resp.msg;
                                }
                                try{
                                    if (index== -1){
                                        $('#mce-'+resp.result+'-response').show();
                                        $('#mce-'+resp.result+'-response').html(msg);            
                                    } else {
                                        err_id = 'mce_tmp_error_msg';
                                        html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';

                                        var input_id = '#mc_embed_signup';
                                        var f = $(input_id);
                                        if (ftypes[index]=='address'){
                                            input_id = '#mce-'+fnames[index]+'-addr1';
                                            f = $(input_id).parent().parent().get(0);
                                        } else if (ftypes[index]=='date'){
                                            input_id = '#mce-'+fnames[index]+'-month';
                                            f = $(input_id).parent().parent().get(0);
                                        } else {
                                            input_id = '#mce-'+fnames[index];
                                            f = $().parent(input_id).get(0);
                                        }
                                        if (f){
                                            $(f).append(html);
                                            $(input_id).focus();
                                        } else {
                                            $('#mce-'+resp.result+'-response').show();
                                            $('#mce-'+resp.result+'-response').html(msg);
                                        }
                                    }
                                } catch(e){
                                    $('#mce-'+resp.result+'-response').show();
                                    $('#mce-'+resp.result+'-response').html(msg);
                                }
                            }
                        }

                        </script>
                        <!--End mc_embed_signup-->


                    </div>


                </div>

            </div>
        </div>

    </div>

${Common/bodyFooter}

</body>

${Common/pageFooter}
