${Common/pageHeader}

<body>

${Common/bodyHeader}


    <div class="container">

        <div class="span-16">

            <div  class="span-16 last">
                <div id="galleria">
                    <img src="../Images/testimages/grammatics.jpeg" alt="My description" title="My title">
                    <img src="../Images/testimages/iliketrains.jpeg" alt="My description" title="My title">
                    <img src="../Images/testimages/kaisercartel.jpeg" alt="My description" title="My title">
                    <img src="../Images/testimages/llukereynolds.jpeg" alt="My description" title="My title">
                    <img src="../Images/testimages/natty.jpeg" alt="My description" title="My title">
                </div>
            </div>


            <div class="span-16 last">
                <br/>

                <div class="span-16 last">
                    <ul class="tabs">
                        <li class="tabsItem"><a href="#" class="tab-1 tabsAct">Featured Artist</a></li>
                        <li class="tabsItem"><a href="#" class="tab-2">Latest Artist</a></li>
                    </ul>
                </div>

                <div class="span-16 last tabcontent-1 tabcontentAct">
                    <div  class="trackList">

                        ${Artists/artistListItem_list}

                    </div>
                    <div class="span-16 last">
                        <a href="#">Paginator goes here</a>
                    </div>
                </div>

                <div class="span-16 last tabcontent-2">
                    latest artists
                </div>

                <div class="span-16 last tabcontent-3">
                    genre
                </div>

            </div>


        </div>

        <div class="span-8 last">

            <div class="box-grey">
                <h2>
                    Go on with ONELOUDR.COM and
                    <a href="account.php" class="button button-big green">
                        Sign In
                    </a>
                </h2>
            </div>

            <div class="box-grey">
                <h2>Discover new music support the artists and be a fan.</h2>

                <p>
                    <strong>browse by genre:</strong><br />
                    <a href="#">hip-hop</a>
                    <a href="#">rock</a>
                    <a href="#">electro</a>
                    <a href="#">rap</a>
                    <a href="#">alternative</a>
                    <a href="#">funk</a>
                    <a href="#">jazz</a>
                    <a href="#">soul</a>
                    <a href="#">folk</a>
                    <a href="#">r&b</a>
                    <a href="#">noise</a>
                    <a href="#">dance</a>
                    <a href="#">metal</a>
                    <a href="#">indie</a>
                    <a href="#">instrumental</a>
                </p>
            </div>


            <div class="box-grey">
                <object width="285" height="200">
                    <param  name="movie"
                    value="http://www.youtube.com/v/PY2jW56o1Zo&amp;hl=en_US&amp;fs=1&amp;" />
                    <param name="allowFullScreen" value="true" />
                    <param name="allowscriptaccess" value="always" />
                    <embed src="http://www.youtube.com/v/PY2jW56o1Zo&amp;hl=en_US&amp;fs=1&amp;"
                    type="application/x-shockwave-flash"
                    allowscriptaccess="always"
                    allowfullscreen="true"
                    width="285"
                    height="200" />
                </object>
            </div>


            ${Common/newsletterSubscription}


        </div>

    </div>

${Common/bodyFooter}

</body>

${Common/pageFooter}
