${Common/pageHeader}

<body>

    ${Common/bodyHeader}

    <div id="pageContent" class="container">

        <div  class="span-16">

            <h2>${releaseTitle}</h2>
            
            FIXME - don't use relative urls here!
            work with this variable instead: ${baseUrl}<br />
            <br />
            <br />
            
            FIXME - use these in download links and in player:<br />
            ${fileDownloadUrl}<br />
            ${prelistenUrl}<br />
            <br />

            <img src="${projectOwnerImgUrl}" width="100" />
            
        </div>

    </div>

    ${Common/bodyFooter}

</body>

${Common/pageFooter}
