Forgot your password? Notethrower will send you password reset instructions to the email address you used to sign up.<br />
Please type your Notethrower username or email account below.<br /><br />

<div id="userFormPlusImage">

  <form action="${formAction}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="action" value="generatePwd">
    <table class="userFormTable">
      <tr class="standardRow1" onmouseover="this.className='highlightedRow';" onmouseout="this.className='standardRow1';">
        <td class="formLeftCol" style="vertical-align:top"><b>Username:</b></td>
        <td class="formMiddleCol mandatoryFormField" style="vertical-align:top">
          <input class="inputTextField" type="text" name="username" maxlength="255" size="30">
        </td>
      </tr>
      <tr>
        <td colspan="2">or</td>
      </tr>
      <tr class="standardRow1" onmouseover="this.className='highlightedRow';" onmouseout="this.className='standardRow1';">
        <td class="formLeftCol" style="vertical-align:top"><b>Email address:</b></td>
        <td class="formMiddleCol" style="vertical-align:top">
          <input class="inputTextField" type="text" name="email" maxlength="255" size="30">
        </td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="right">
          <input class="button blue" type="submit" value="Reset password">
        </td>
      </tr>
    </table>
  </form>

</div>