Please enter your new password below.<br /><br />

<div id="userFormPlusImage">

  <form action="${formAction}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="action" value="setPwd">
    <input type="hidden" name="email" value="${email}">
    <input type="hidden" name="cs" value="${checksum}">
    <table class="userFormTable">
      <tr class="standardRow1">
        <td class="formLeftCol" style="vertical-align:top"><b>New password:</b></td>
        <td class="formMiddleCol" style="vertical-align:top">
          <input class="inputTextField" type="password" name="newPassword" maxlength="255" size="30">
        </td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="right">
          <input class="button blue" type="submit" value="Save">
        </td>
      </tr>
    </table>
  </form>

</div>
