${Common/pageHeader}

<body>

    ${Common/bodyHeader}

    <div id="pageContent">
        <div class="container">
          
            <div class="span-18 last">
                <div class="box-grey">
                    <h1>Reset your password</h1>
                    ${Common/message_choice_list}
                    ${ResetPassword/instructionsWereSent_optional}
                    ${ResetPassword/enterNewPasswordForm_optional}
                    ${ResetPassword/passwordWasSet_optional}
                    ${ResetPassword/resetPasswordForm_optional}
                </div>
            </div>

        </div>
    </div>

    ${Common/bodyFooter}

</body>

${Common/pageFooter}
