

<p>
    Forgot your password?<br />
    oneloudr will send you password reset instructions to the email address you used to sign up.<br />
    Please enter your email address below.<br /><br />
</p>

<div id="userFormPlusImage">

    <form action="${formAction}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="action" value="sendInstructions">
        
        <div id="formElt_title" class=" formElement span-15 last">
            <div class="span-6">
                <b>Email address:</b>
            </div>
            <div class="span-8">
                <input class="inputTextField" type="text" name="email" maxlength="255" size="30">
            </div>
            <div class="span-1 last"></div>
        </div>
        
        <div class="prepend-6 span-6 last">
            <input class="button blue" type="submit" value="Send me the instructions">
        </div>

    </form>

</div>
