${Common/pageHeader}

<body>

${Common/bodyHeader}

<div id="pageContent">
    <div class="container">

        <div class="span-8">
            <div class="box-grey">
                <h2>Title</h2>
                <p>Illustration</p>
                <a href="../Site/startpage-cocreate.php" class="button blue">CO CREATE MUSIC</a>
            </div>
        </div>

        <div class="span-8">
            <div class="box-grey">
                <h2>Title</h2>
                <p>Illustration</p>
                <a href="../Site/startpage-discover.php" class="button blue">DISCOVER</a>
            </div>
        </div>

        <div class="span-8 last">
            <div class="box-grey">
                <h2>Title</h2>
                <p>Illustration</p>
                <a href="../Site/startpage-findmusicians.php" class="button blue">FIND MUSICIANS</a>
            </div>
        </div>
    
    </div>
</div>


${Common/bodyFooter}

</body>

${Common/pageFooter}
