${Common/pageHeader}

<body>

${Common/bodyHeader}

<div id="pageContent">

    <div class="container">

        <div class="span-16">

            <div  class="span-16 last">
                <div id="galleria">
                    <img src="../Images/testimages/grammatics.jpeg" alt="My description" title="My title">
                    <img src="../Images/testimages/iliketrains.jpeg" alt="My description" title="My title">
                    <img src="../Images/testimages/kaisercartel.jpeg" alt="My description" title="My title">
                    <img src="../Images/testimages/llukereynolds.jpeg" alt="My description" title="My title">
                    <img src="../Images/testimages/natty.jpeg" alt="My description" title="My title">
                </div>
            </div>


            <div class="span-16 last">
                <br />
                <br />
                <h2>
                    Go on with ONELOUDR.COM and
                    <a href="account.php" class="button button-big green">
                        Sign In
                    </a>
                </h2>
                <br />
                <br />
            </div>


            <!-- player -->
            <div class="span-16 last">

                <div id="songCompetition" style="width:662px;background-color:#555">
                    <div id="leftPlayer" style="float:left;background-color:#FFFFFF;margin:5px;padding:5px; width:310px;">
                      <script type="text/javascript">
                $(document).ready(function(){

                	$("#jquery_jplayer_1").jPlayer({
                		ready: function () {
                			$(this).jPlayer("setMedia", {
                				mp3: "http://localhost:8888/notethrower/Backend/preview.php?song=35bcbd79ef6af7e77b95cc9e54b055dd/7_HQMP3.mp3"
                			});
                		},
                		swfPath: "../Javascripts",
                		supplied: "mp3",
                		cssSelectorAncestor: "#jp_interface_1",
                		preload: 'auto'
                	})
                	.bind($.jPlayer.event.play, function() { // Using a jPlayer event to avoid both jPlayers playing together.
                			$(this).jPlayer("pauseOthers");
                	});

                });
                </script>


                <div id="jquery_jplayer_1" class="jp-jplayer" style="background-color: rgb(0, 0, 0); "><img id="jp_poster_0" style="width: 0px; height: 0px; display: none; "><audio id="jp_audio_0" preload="auto" src="http://localhost:8888/notethrower/Backend/preview.php?song=35bcbd79ef6af7e77b95cc9e54b055dd/7_HQMP3.mp3"></audio></div>
                <div class="jp-audio" style="width:310px;">
                  <div class="jp-type-single">
                    <div id="jp_interface_1" class="jp-interface">
                      <ul class="jp-controls">
                        <li><a href="#" class="jp-play" tabindex="1">play</a></li>
                        <li><a href="#" class="jp-pause" tabindex="1" style="display: none; ">pause</a></li>
                        <li><a href="#" class="jp-stop" tabindex="1">stop</a></li>

                        <li><a href="#" class="jp-mute" tabindex="1">mute</a></li> <li><a href="#" class="jp-unmute"
                        tabindex="1" style="display: none; ">unmute</a></li> </ul> <div class="jp-progress"> <div
                        class="jp-seek-bar" style="width: 0%; "> <div class="jp-play-bar" style="width: 0%; "></div>
                        </div> </div>
                        
                         <div class="jp-volume-bar"> <div class="jp-volume-bar-value" style="width: 80%; "></div>
                        </div> <div class="jp-current-time">00:00</div> <div class="jp-duration">00:00</div> </div>
                        <div id="jp_playlist_1" class="jp-playlist"> <ul> <li>test this out track 1</li> </ul> </div>
                        </div> </div>

                    </div>

                    <div id="rightPlayer" style="float:right;background-color:#FFFFFF;margin:5px;padding:5px; width:310px;">
                      <script type="text/javascript">
                $(document).ready(function(){

                	$("#jquery_jplayer_2").jPlayer({
                		ready: function () {
                			$(this).jPlayer("setMedia", {
                				mp3: "http://localhost:8888/notethrower/Backend/preview.php?song=629577753e58463e673d5725468b0803/6_HQMP3.mp3"
                			});
                		},
                		swfPath: "../Javascripts",
                		supplied: "mp3",
                		cssSelectorAncestor: "#jp_interface_2",
                		preload: 'auto'
                	})
                	.bind($.jPlayer.event.play, function() { // Using a jPlayer event to avoid both jPlayers playing together.
                			$(this).jPlayer("pauseOthers");
                	});

                });
                </script>

                <div id="jquery_jplayer_2" class="jp-jplayer" style="background-color: rgb(0, 0, 0); ">
                    <img id="jp_poster_1" style="width: 0px; height: 0px; display: none; ">
                    <audio id="jp_audio_1" preload="auto" src="http://localhost:8888/notethrower/Backend/preview.php?song=629577753e58463e673d5725468b0803/6_HQMP3.mp3">
                        
                    </audio>
                </div>
                <div class="jp-audio" style="width:310px;">
                    <div class="jp-type-single">
                        <div id="jp_interface_2" class="jp-interface">
                            <ul class="jp-controls">
                                <li><a href="#" class="jp-play" tabindex="1">play</a></li>
                                <li><a href="#" class="jp-pause" tabindex="1" style="display: none;">pause</a></li>
                                <li><a href="#" class="jp-stop" tabindex="1">stop</a></li>
                                <li><a href="#" class="jp-mute" tabindex="1">mute</a></li>
                                <li><a href="#" class="jp-unmute" tabindex="1" style="display: none; ">unmute</a></li>
                            </ul>
                            <div class="jp-progress">
                                <div class="jp-seek-bar" style="width: 0%; ">
                                    <div class="jp-play-bar" style="width: 0%; "></div>
                                </div>
                            </div>

                      <div class="jp-volume-bar">
                        <div class="jp-volume-bar-value" style="width: 80%; "></div>
                      </div>
                      <div class="jp-current-time">00:00</div>
                      <div class="jp-duration">00:00</div>
                    </div>
                    <div id="jp_playlist_2" class="jp-playlist">
                      <ul>
                        <li>audioooo</li>
                      </ul>
                    </div>
                  </div>
                </div>

                    </div>

                    <div style="clear:both">
                  </div>

                  <div id="votingArea" style="width:662px;background-color:#444;">
                    <table id="votingTable" style="margin:5px;width:662px">
                      <tbody><tr>
                        <td align="left" style="text-align:left;">
                            <a href="/notethrower/Site/startpage.php?vt=7&amp;lt=7&amp;rt=6&amp;n=8a383b1d8506e00a882f1aadfc11f298&amp;t=1307711611463458" class="button button-small blue">I like this song better</a>
                        </td>
                        <td align="center" style="text-align:center;">
                            <a href="/notethrower/Site/startpage.php" class="button button-small blue">
                                Both songs are awful
                            </a>
                        </td>
                        <td align="right" style="text-align:right;">
                            <a href="/notethrower/Site/startpage.php?vt=6&amp;lt=7&amp;rt=6&amp;n=8a383b1d8506e00a882f1aadfc11f298&amp;t=1307711611463458" class="button button-small blue">I like this song better</a>
                        </td>
                      </tr>
                    </tbody></table>
                  </div>
                </div>
                <br />
                <br />
            </div>

            
            <div  class="span-16 last">
                <h1>Latest Tracks</h1>
                <div class="trackList">
                    ${Index/trackListItem_latestTracks_list}
                </div>
                <div class="prepend-13 span-3 last">
                    <br />
                    <a href="#" class="button button-small blue">more Tracks</a>
                </div>
            </div>
     
            <div  class="span-16 last">
                <br />
                <h1>Top Artists</h1>
                <div class="span-16 last trackList">
                    ${Index/trackListItem_latestTracks_list}
                </div>
                <div class="prepend-13 span-3 last">
                    <a href="#" class="button button-small blue">more Tracks</a>
                </div>
            </div>
      
        </div>


        <div class="span-8 last">


            <div class="box-grey">
                <h2>Discover new music support the artists and be a fan.</h2>

                <p>
                    <strong>browse by genre:</strong><br />
                    <a href="#">hip-hop</a>
                    <a href="#">rock</a>
                    <a href="#">electro</a>
                    <a href="#">rap</a>
                    <a href="#">alternative</a>
                    <a href="#">funk</a>
                    <a href="#">jazz</a>
                    <a href="#">soul</a>
                    <a href="#">folk</a>
                    <a href="#">r&b</a>
                    <a href="#">noise</a>
                    <a href="#">dance</a>
                    <a href="#">metal</a>
                    <a href="#">indie</a>
                    <a href="#">instrumental</a>
                </p>
            </div>


            <div class="box-grey">
                <object width="285" height="200">
                    <param  name="movie" 
                            value="http://www.youtube.com/v/PY2jW56o1Zo&amp;hl=en_US&amp;fs=1&amp;" />
                    <param name="allowFullScreen" value="true" />
                    <param name="allowscriptaccess" value="always" />
                    <embed src="http://www.youtube.com/v/PY2jW56o1Zo&amp;hl=en_US&amp;fs=1&amp;" 
                               type="application/x-shockwave-flash"
                               allowscriptaccess="always" 
                               allowfullscreen="true" 
                               width="285" 
                               height="200" />
                </object>
            </div>


            <!-- mailchimp -->
            <div  class="box-grey">
                
                <h2>Newsletter:</h2>

                <!-- Begin MailChimp Signup Form -->
                <!--[if IE]>
                <style type="text/css" media="screen">
                	#mc_embed_signup fieldset {position: relative;}
                	#mc_embed_signup legend {position: absolute; top: -1em; left: .2em;}
                </style>
                <![endif]--> 
                <!--[if IE 7]>
                <style type="text/css" media="screen">
                	.mc-field-group {overflow:visible;}
                </style>
                <![endif]-->

                <div id="mc_embed_signup">
                <form action="http://beautyparlour.us1.list-manage1.com/subscribe/post?u=7027deab3d08ebf3797bc96b9&amp;id=7142a5713f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                	<fieldset style="border:0px;">
                <div class="mc-field-group" >
                <label for="mce-EMAIL">Email Address <strong class="note-required">*</strong>
                </label>
                <input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                		<div id="mce-responses" style="">
                			<div class="response" id="mce-error-response"></div>
                			<div class="response" id="mce-success-response"></div>
                		</div>
                		<div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button blue" style="clear: both;width: auto;display: block;margin: 1em 0 1em 5%;"></div>
                	</fieldset>	
                	<a href="#" id="mc_embed_close" class="mc_embed_close" style="display: none;">Close</a>
                </form>
                </div>
                <script type="text/javascript">
                var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
                try {
                    var jqueryLoaded=jQuery;
                    jqueryLoaded=true;
                } catch(err) {
                    var jqueryLoaded=false;
                }
                var head= document.getElementsByTagName('head')[0];
                if (!jqueryLoaded) {
                    var script = document.createElement('script');
                    script.type = 'text/javascript';
                    script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
                    head.appendChild(script);
                    if (script.readyState && script.onload!==null){
                        script.onreadystatechange= function () {
                              if (this.readyState == 'complete') mce_preload_check();
                        }    
                    }
                }
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
                head.appendChild(script);
                var err_style = '';
                try{
                    err_style = mc_custom_error_style;
                } catch(e){
                    err_style = 'margin: 1em 0 0 0; padding: 1em 0.5em 0.5em 0.5em; background: FFEEEE none repeat scroll 0% 0%; font-weight: bold; float: left; z-index: 1; width: 80%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: FF0000;';
                }
                var head= document.getElementsByTagName('head')[0];
                var style= document.createElement('style');
                style.type= 'text/css';
                if (style.styleSheet) {
                  style.styleSheet.cssText = '.mce_inline_error {' + err_style + '}';
                } else {
                  style.appendChild(document.createTextNode('.mce_inline_error {' + err_style + '}'));
                }
                head.appendChild(style);
                setTimeout('mce_preload_check();', 250);

                var mce_preload_checks = 0;
                function mce_preload_check(){
                    if (mce_preload_checks>40) return;
                    mce_preload_checks++;
                    try {
                        var jqueryLoaded=jQuery;
                    } catch(err) {
                        setTimeout('mce_preload_check();', 250);
                        return;
                    }
                    try {
                        var validatorLoaded=jQuery("#fake-form").validate({});
                    } catch(err) {
                        setTimeout('mce_preload_check();', 250);
                        return;
                    }
                    mce_init_form();
                }
                function mce_init_form(){
                    jQuery(document).ready( function($) {
                      var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
                      var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
                      $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
                      options = { url: 'http://beautyparlour.us1.list-manage.com/subscribe/post-json?u=7027deab3d08ebf3797bc96b9&id=7142a5713f&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                                    beforeSubmit: function(){
                                        $('#mce_tmp_error_msg').remove();
                                        $('.datefield','#mc_embed_signup').each(
                                            function(){
                                                var txt = 'filled';
                                                var fields = new Array();
                                                var i = 0;
                                                $(':text', this).each(
                                                    function(){
                                                        fields[i] = this;
                                                        i++;
                                                    });
                                                $(':hidden', this).each(
                                                    function(){
                                                        if (fields.length == 2) fields[2] = {'value':1970};//trick birthdays into having years
                                                    	if ( fields[0].value=='MM' && fields[1].value=='DD' && fields[2].value=='YYYY' ){
                                                    		this.value = '';
                									    } else if ( fields[0].value=='' && fields[1].value=='' && fields[2].value=='' ){
                                                    		this.value = '';
                									    } else {
                	                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                	                                    }
                                                    });
                                            });
                                        return mce_validator.form();
                                    }, 
                                    success: mce_success_cb
                                };
                      $('#mc-embedded-subscribe-form').ajaxForm(options);      

                    });
                }
                function mce_success_cb(resp){
                    $('#mce-success-response').hide();
                    $('#mce-error-response').hide();
                    if (resp.result=="success"){
                        $('#mce-'+resp.result+'-response').show();
                        $('#mce-'+resp.result+'-response').html(resp.msg);
                        $('#mc-embedded-subscribe-form').each(function(){
                            this.reset();
                    	});
                    } else {
                        var index = -1;
                        var msg;
                        try {
                            var parts = resp.msg.split(' - ',2);
                            if (parts[1]==undefined){
                                msg = resp.msg;
                            } else {
                                i = parseInt(parts[0]);
                                if (i.toString() == parts[0]){
                                    index = parts[0];
                                    msg = parts[1];
                                } else {
                                    index = -1;
                                    msg = resp.msg;
                                }
                            }
                        } catch(e){
                            index = -1;
                            msg = resp.msg;
                        }
                        try{
                            if (index== -1){
                                $('#mce-'+resp.result+'-response').show();
                                $('#mce-'+resp.result+'-response').html(msg);            
                            } else {
                                err_id = 'mce_tmp_error_msg';
                                html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';

                                var input_id = '#mc_embed_signup';
                                var f = $(input_id);
                                if (ftypes[index]=='address'){
                                    input_id = '#mce-'+fnames[index]+'-addr1';
                                    f = $(input_id).parent().parent().get(0);
                                } else if (ftypes[index]=='date'){
                                    input_id = '#mce-'+fnames[index]+'-month';
                                    f = $(input_id).parent().parent().get(0);
                                } else {
                                    input_id = '#mce-'+fnames[index];
                                    f = $().parent(input_id).get(0);
                                }
                                if (f){
                                    $(f).append(html);
                                    $(input_id).focus();
                                } else {
                                    $('#mce-'+resp.result+'-response').show();
                                    $('#mce-'+resp.result+'-response').html(msg);
                                }
                            }
                        } catch(e){
                            $('#mce-'+resp.result+'-response').show();
                            $('#mce-'+resp.result+'-response').html(msg);
                        }
                    }
                }

                </script>
                <!--End mc_embed_signup-->

                
            </div>


<!--
            <div class="box-blue">
                <h2>Wall of Fans</h2>

                <ul class="fanList">
                    <li>
                        <img src="../Images/no_artist_image.png" height="25" />
                        Joe Benso
                    </li>
                    <li>
                        <img src="../Images/no_artist_image.png" height="25" />
                        Franz Ferdinant
                    </li>
                    <li>
                        <img src="../Images/no_artist_image.png" height="25" />
                        Napoleon Ponaparte
                    </li>
                    <li>
                        <img src="../Images/no_artist_image.png" height="25" />
                        Max Mustermann
                    </li>
                    <li>
                        <img src="../Images/no_artist_image.png" height="25" />
                        Indiana Jones
                    </li>
                </ul>

            </div>
-->

        </div>
    
    </div>
</div>


${Common/bodyFooter}

</body>

${Common/pageFooter}
