<div class="span-16 trackListItem">
    <div class="span-2">
        &nbsp;
        <img src="${artistImgUrl}" height="25" />
    </div>
    <div class="span-8">
        <a href="#">${artistName} or ${trackTitle}</a>
    </div>
    <div class="span-4">
        <span class="small"> by Artistname oder Genre</span>
    </div>
    <div class="span-2 last">
        <a href="playTrack(${trackId});" class="trackListButton trackListPlay">&nbsp;</a>
        <a href="#" class="trackListButton trackListStar">&nbsp;</a>
    </div>
</div>
