${Common/pageHeader}

<body>

    ${Common/bodyHeader}

    <div class="container">

    <div class="span-16 last box-grey">
<h1>oneloudr’s Frequently Asked Questions</h1>
<br />
The following frequently asked questions and corresponding
answers were created to provide you with further insight about
becoming a member and licensing your music with oneloudr.<br />
<br />
<a href="#faq1">1. What is licensing?</a><br />
<a href="#faq2">2. What is the oneloudr Music Licensing Widget?</a><br />
<a href="#faq3">3. Who does oneloudr license music to?</a><br />
<a href="#faq4">4. What happens if someone remixes my original song?</a><br />
<a href="#faq5">5. What is the difference between oneloudr and a record label or publisher?</a><br />
<a href="#faq6">6. I’m sold on licensing—Why oneloudr?</a><br />
<a href="#faq7">7. How do I get paid?</a><br />
<a href="#faq8">8. Do I have to pay any membership fees to become a member of oneloudr?</a><br />
<a href="#faq9">9. Will you ask my permission before you license my music?</a><br />
<a href="#faq10">10. Sometimes I use samples in my songs or I cover a song, is that okay?</a><br />
<a href="#faq11">11. What am I signing?</a><br />
<a href="#faq12">12. Who is the Music Representative and why are they important?</a><br />
<a href="#faq13">13. Can the Music Representative be my company or label?</a><br />
<a href="#faq14">14. Why does my balance need to reach $10.00 before you pay royalties?</a><br />
<a href="#faq15">15. What if my songs don’t have names?</a><br />
<a href="#faq16">16. How should I send my music?</a><br />
<a href="#faq17">17. Should I register with a Performing Rights Organization (ASCAP, BMI, SESAC, etc.)?</a><br />
<a href="#faq18">18. Will I still be able to work with a manager, a label, or another licensing company?</a><br />
<br />
<a class="nohighlight" name="faq1"><b>1. What is licensing?</b></a><br />
When we say licensing, we mean forming an agreement with one of our customers
(e.g. a TV or film producer, video game company, etc.) that
allows them to use your music for a fee, where the fee is based upon the
use, duration, and distribution of your music. <br />
<br />
<a class="nohighlight" name="faq2"><b>2. What is the oneloudr Music Licensing Widget? </b></a><br />
The oneloudr Music Licensing Widget allows businesses to search our catalog
of music, listen to tracks, and purchase song licenses instantly. Over the past
few years our clients have continually asked why licensing music wasn’t as
easy as buying it from iTunes or other online stores; the Music Licensing Store
is the answer to that question. It’s a simple, easy way for content creators to
add high-quality music to their projects at affordable rates. <br />
<br />
<a class="nohighlight" name="faq3"><b>3. Who does oneloudr license music to? </b></a><br />
oneloudr licenses our Members’ music to be used in Hollywood films, TV commercials, video games, podcasts and many other media. <br />
<br />
<a class="nohighlight" name="faq4"><b>4. What happens if someone remixes my original song?</b></a><br />
When another artists downloads your original song or song "stem" they agree to upload their remixed work and offer it for licensing.  By the terms of the Artist agreement, each "new" remix of an original song or "stem" is then co-owned by the original artist and the "remixer".
NOTE: Only two artists can own a "remix" – each splitting the licensing profits 50/50.  A remix of a remix is not allowed under the artist agreement. This makes payments to oneloudr artists much more transparent and easy.<br />
<br />
<a class="nohighlight" name="faq5"><b>5. What is the difference between oneloudr and a record label or publisher? </b></a><br />
A record label or publisher will usually want ownership of some or all of your rights,
in addition to sharing in your revenues from sales of CDs or licenses.
At oneloudr we don’t get paid until we license your music, and we will never take ownership of our members’ music. <br />
<br />
<a class="nohighlight" name="faq6"><b>6. I’m sold on licensing—Why oneloudr?  </b></a><br />
Over the past 10 years we’ve built a network of clients and customers who trust us
and count on the services we provide. With the Music Licensing Widget and
the industry-first licenses we’ve developed we have a track record of innovation in
the licensing field. We’re an independent company made up of music lovers who are
committed to building a music industry that is fair to working artists
and makes it easy for businesses to access quality music at a reasonable price. <br />
<br />
<a class="nohighlight" name="faq7"><b>7. How do I get paid? </b></a><br />
You will be paid 80% of gross licensing fees that we secure for the use of your music. We send payments and statements to the "Music Representative" quarterly (4 times per year).  <br />
<br />
<a class="nohighlight" name="faq8"><b>8. Do I have to pay any membership fees to become a member of
oneloudr? </b></a><br />
No.  <br />
<br />
<a class="nohighlight" name="faq9"><b>9. Will you ask my permission before you license my music? </b></a><br />
No. One of the great benefits of oneloudr—and a huge reason why our customers
keep licensing music from us—is that we can grant licenses instantly. This gives us
(and you) a competitive advantage over other music companies who need to track
down rights-holders for every potential license. <br />
<br />
<a class="nohighlight" name="faq10"><b>10. Sometimes I use samples in my songs or I cover a song,
is that okay? </b></a><br />
No. We cannot accept any songs that are covers, or that contain samples,
quotes, or contain any part of another’s copyrighted work.
Please review your musical works and make sure they do not contain any samples
and are not covers.  Failure to do so can result in messy legal disputes.<br />
<br />
<a class="nohighlight" name="faq11"><b>11. What am I signing? </b></a><br />
The agreement is a legal way of saying that you give oneloudr
the non-exclusive right to license your music on your behalf. <br />
<br />
<a class="nohighlight" name="faq12"><b>12. Who is the Music Representative and why are they important? </b></a><br />
The Music Representative is the individual or entity with whom oneloudr will
work on behalf of the rights holder(s). The Music Representative will basically be the liaison between the artist or band and oneloudr. <br />
<br />
<a class="nohighlight" name="faq13"><b>13. Can the Music Representative be my company or label? </b></a><br />
Yes. But the agreement needs to be between oneloudr and that entity.  <br />
<br />
<a class="nohighlight" name="faq14"><b>14. Why does my balance need to reach $10.00 before you pay
royalties? </b></a><br />
oneloudr incurs expenses when processing and paying royalties; the
$10.00 minimum balance helps us decrease those expenses. <br />
<br />
<a class="nohighlight" name="faq15"><b>15. What if my songs don’t have names? </b></a><br />
Please give your songs names.  <br />
<br />
<a class="nohighlight" name="faq16"><b>16. How should I send my music? </b></a><br />
We accept songs in Mp3 ( at least 128 Kbs) or WAV format <br />
<br />
<a class="nohighlight" name="faq17"><b>17. Should I register with a Performing Rights Organization (ASCAP,
BMI, SESAC, etc.)? </b></a><br />
It is not required that you are registered with a PRO to become a member
of oneloudr, but we advise that you do so. Visit the PRO websites for more
information and to obtain the necessary forms. <br />
<br />
<a class="nohighlight" name="faq18"><b>18. Will I still be able to work with a manager, a label, or another
licensing company? </b></a><br />
Yes. Our agreement is non-exclusive. There is nothing in our agreement that
prevents you from working with other third-party vendors for licensing or
other business purposes.  <br />
      <br />
    </div>
    </div>

    ${Common/bodyFooter}

</body>

${Common/pageFooter}
