${Common/pageHeader}

<body>

${Common/bodyHeader}

<div id="pageContent">
    <div class="container">

        <div class="span-16">

            <h1>My Projects</h1>
            ${Common/message_choice_optional}

            <div class="span-16 last trackList">
                ${ProjectList/projectListItem_list_own}
            </div>

            <h1>Projects where i participate</h1>

            <div class="span-16 last trackList">
                ${ProjectList/projectListItem_list_associated}
            </div>

        </div>

        <div class="span-8 last">
            <a href="${baseUrl}project?action=create" class="button blue">
                Create a new project
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
    function callPublish(msg, attachment, action_link) {
	   FB.ensureInit(function () {
    	   FB.Connect.streamPublish('', attachment, action_link);
	   });
    }
</script>
<!-- Facebook stuff end -->

<script type="text/javascript">

    function share(tid, aid) {
        var href = '${baseUrl}index?tid=' + tid + '&taid=' + aid;
        callPublish('',{'name':'I uploaded a new Song','href':href,'description':'I just uploaded a new Song to oneloudr. Listen for free, or collaborate with me on new tracks and even license our music together!','media':[{'type':'image','src':'http://profile.ak.fbcdn.net/object2/1043/112/q170458041694_1270.jpg','href':href}]},[{'text':'play the song','href':href}])
    }

</script>

${Common/bodyFooter}

</body>

${Common/pageFooter}
