<div class="span-16 last trackListItem">
    <div class="span-14">
        <a href="project.php?action=edit&pid=${projectId}">${projectTitle}</a>
    </div>
    <div class="span-1">
        <a href="project.php?action=edit&pid=${projectId}">
            <img src="../Images/icons/edit-signiture.png" alt="edit" width="16" height="16" />
        </a>
    </div>
    <div class="span-1 last">
        <a href="javascript:askForConfirmationAndRedirect('Do you really want to delete this project?', '${projectTitleEscaped}', 'project.php?action=delete&pid=${projectId}');">
            <img src="../Images/icons/cross.png" alt="delete" width="16" height="16" />
        </a>
    </div>
</div>
