${Common/pageHeader}

<body>

    ${Common/bodyHeader}

    <div class="container">
       
        <div  class="span-16">
            
            <div class="span-16 last">
                <h1>My songs</h1>
                <div class="span-16 last trackList">
                    ${UserInfo/trackListElement_list_mySongs}
                </div>
            </div>
            
            <div class="span-16 last span-16 last">
                <h1>My remixes</h1>
                <div class="">
                    ${UserInfo/trackListElement_list_myRemixes}
                </div>
            </div>
            
            <div class="span-16 last span-16 last">
                <h1>Remixed from other artists</h1>
                <div class="">
                    ${UserInfo/trackListElement_list_remixedByOthers}
                </div>
            </div>
            
            <div id="sendMessageOverlay">
                <div id="sendMessageWrapper"></div>
            </div>
        
        </div>

        <div  class="span-8 last">
            <div  class="box-grey">

                <img src="${userImgUrl}" width="200" />
                
                <h1>${userName}</h1>
                ${Common/externalWebLink_optional}
                ${UserInfo/sendMessage_optional}
                ${UserInfo/artistInfo_optional}
                ${UserInfo/additionalInfo_optional}
            
            </div>
        </div>

    </div>
    
    ${Common/bodyFooter}

</body>

<script type="text/javascript">

function getFlashContent(name) {
    if (navigator.appName.indexOf("Microsoft") != -1) {
        return window[name];
    } else {
        return document[name];
    }
}

function reloadDataInWidget(aid, tid) {
    getFlashContent("NTWidget").reloadData(aid, tid);
}

function showCollaborationUsersPopup() {
    window.open('showCollaborationUsers.php?aid=${userId}', 'NT_COLLABORATORS', 'scrollbars=yes,resizable=yes,status=0,width=400,height=600');
}

</script>

${Common/pageFooter}
