<body>
<script type="text/javascript">
$(document).ready(function(){
    $('form').submit(function (e) { 
        e.preventDefault();
        var formData = $('form').serialize();
        $.ajax({
            url: 'sendMessage.php',
            context: document.body,
            data: formData,
            success: function(msg){
                if(msg == 'Your message has been sent.'){
                    alert( msg );
                    parent.$.fancybox.close();
                } else {
                    $('.statusMessage').append(msg);
                }
            }
        });
    });
    
});
</script>
    <h1><img border="0" src="../Images/mail_big.png">&nbsp;Message to ${recipientUserName}:</h1>
    <br/>
    <p class="statusMessage"></p>
    ${UserInfo/sendMessageForm_optional}
</body>

