${Common/pageHeader}

<body>

${Common/bodyHeader}

<div id="pageContent">

    <div class="container">

        <div class="span-16">
            <h1>Pricing</h1>

            <div  class="span-16 last">

                <table id="priceChart">
                <tbody>
                    <tr>
                        <th class="heading">&nbsp;</th>
                        <th class="table-col-0">
                            <h2>ONELOUDR</h2>

                        </th>
                        <th class="table-col-1">
                            <h2>ONELOUDR <span class="blue">PRO</span></h2>
                        </th>
                    </tr>

                    <tr class="even">
                        <td>Disk Storage</td>
                        <td class="table-col-0">
100MB
                        </td>
                        <td class="table-col-1">
                            2GB
                        </td>
                    </tr>

                    <tr class="odd">
                        <td>Sell Your Music Anywhere Online with Personal Widget</td>
                        <td class="table-col-0">
                            <img src="${baseUrl}Images/icons/tick.png" width="24" height="24" alt="Tick">
                        </td>
                        <td class="table-col-1">
                            <img src="${baseUrl}Images/icons/tick.png" width="24" height="24" alt="Tick">
                        </td>
                    </tr>

                    <tr class="even">
                        <td>Keep 100% Profit from Digital Music Sales</td>
                        <td class="table-col-0">
                            <img src="${baseUrl}Images/icons/tick.png" width="24" height="24" alt="Tick">
                        </td>
                        <td class="table-col-1">
                            <img src="${baseUrl}Images/icons/tick.png" width="24" height="24" alt="Tick">
                        </td>
                    </tr>

                    <tr class="odd">
                        <td>Opportunity to License music to Film/TV</td>
                        <td class="table-col-0">
                            <img src="${baseUrl}Images/icons/tick.png" width="24" height="24" alt="Tick">
                        </td>
                        <td class="table-col-1">
                            <img src="${baseUrl}Images/icons/tick.png" width="24" height="24" alt="Tick">
                        </td>
                    </tr>

                    <tr class="even">
                        <td>Collaborate and earn with Community Members</td>
                        <td class="table-col-0">
                            <img src="${baseUrl}Images/icons/tick.png" width="24" height="24" alt="Tick">
                        </td>
                        <td class="table-col-1">
                            <img src="${baseUrl}Images/icons/tick.png" width="24" height="24" alt="Tick">
                        </td>
                    </tr>

                    <tr class="odd">
                        <td>Rate Music and earn more opportunities</td>
                        <td class="table-col-0">
                            <img src="${baseUrl}Images/icons/tick.png" width="24" height="24" alt="Tick">
                        </td>
                        <td class="table-col-1">
                            <img src="${baseUrl}Images/icons/tick.png" width="24" height="24" alt="Tick">
                        </td>
                    </tr>

                    <tr class="even">
                        <td>Fans can listen to and buy music from Facebook, Twitter</td>
                        <td class="table-col-0">
                            <img src="${baseUrl}Images/icons/tick.png" width="24" height="24" alt="Tick">
                        </td>
                        <td class="table-col-1">
                            <img src="${baseUrl}Images/icons/tick.png" width="24" height="24" alt="Tick">
                        </td>
                    </tr>

                    <tr class="odd">
                        <td>Create your own remix contest</td>
                        <td class="table-col-0">&nbsp;</td>
                        <td class="table-col-1">
                            <img src="${baseUrl}Images/icons/tick.png" width="24" height="24" alt="Tick">
                        </td>
                    </tr>

                    <tr class="even">
                        <td>Sell Merchandise and Tickets to Shows</td>
                        <td class="table-col-0">&nbsp;</td>
                        <td class="table-col-1">
                            <img src="${baseUrl}Images/icons/tick.png" width="24" height="24" alt="Tick">
                        </td>
                    </tr>

                    <tr class="odd">
                        <td></td>
                        <td class="table-col-0">
                            <a href="http://oneloudr.com/OL/account" class="button button-medium blue">Sign Up</a>
                        </td>
                        <td class="table-col-1">
                            <a href="http://oneloudr.com/OL/account" class="button button-medium blue">Sign Up</a>
                        </td>
                    </tr>

                    <tr class="even">
                        <td>&nbsp;</td>
                        <td class="table-col-0">
                            Free
                        </td>
                        <td class="table-col-1">
                            coming soon
                        </td>
                    </tr>

                </tbody>
                </table>

            </div>

        </div>

        <div class="span-8 last">


            <div class="box-grey">
                <!--
                <object width="285" height="200">
                    <param  name="movie"
                            value="http://www.youtube.com/v/PY2jW56o1Zo&amp;hl=en_US&amp;fs=1&amp;" />
                    <param name="allowFullScreen" value="true" />
                    <param name="allowscriptaccess" value="always" />
                    <embed src="http://www.youtube.com/v/PY2jW56o1Zo&amp;hl=en_US&amp;fs=1&amp;"
                               type="application/x-shockwave-flash"
                               allowscriptaccess="always"
                               allowfullscreen="true"
                               width="285"
                               height="200" />
                </object>
                -->
            </div>



        </div>

    </div>

</div>

${Common/bodyFooter}

</body>

${Common/pageFooter}
