${Common/pageHeader}

<body>

${Common/bodyHeader}

<div id="pageContent">

    <div class="container">

        <div class="span-24 last">
    
            <div class="span-16">
                <div class="box-grey inline-block">
                    <h1>Charts</h1>
            
                    <div>
                      ${Charts/songListItem_list}
                    </div>
            
                </div>

            </div>
    
            <div class="span-8 last">
            
            
                
            </div>
        
        </div>
        
    </div>


</div>

${Common/bodyFooter}

</body>

${Common/pageFooter}
