<div class="span-24 trackListItem">
    <div class="span-3">
      <img src="${artistImgUrl}" alt="img" width="80">
	</div>
	<div class="span-12">
        <span style="font-size:20px;">${chartRank}:&nbsp;<a href="${releasePageUrl}">${title}</a></span><br />
        by <a href="${baseUrl}artist?aid=${userId}">${userName}</a><br />
		<iframe src="http://www.facebook.com/plugins/like.php?href=${baseUrlEncoded}artist%3Faid=${userId}&amp;layout=standard&amp;layout=button_count&amp;show_faces=false&amp;width=150&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:35px;" allowTransparency="true"></iframe><br />
        <span style="font-size:16px;color:#00AA00;font-weight:bold">${hotPercentage}% Hot</span>&nbsp;&nbsp;&nbsp;<span style="font-size:16px;color:#AA0000;font-weight:bold">${notPercentage}% Not</span>
        &nbsp;&nbsp;&nbsp;
        ${Common/hotNotVotingLinks_optional}
    </div>
    <div class="span-9 last">
        
        ${Common/player_optional}
        
        <div class="span-9 last">
            <div class="span-3">
                <span class="titleText">Download:</span>
            </div>
            <div class="span-6 last">
                <a href="${fileDownloadUrl}" target="_blank">${filename}</a>
            </div>
        </div>
    </div>
</div>