${Common/pageHeader}

<body>

    ${Common/bodyHeader}

    <div id="pageContent" class="container">

        <div  class="span-16">

            <h1>Releases</h1>
            <div class="trackList">
                <div class="span-16 last trackListItem">
                    <div class="span-12"><a href="project.php?action=edit&pid=16">Projekt 1</a></div>
                    <div class="span-1">
                        <a href="#" title="status">
                            <img src="../Images/icons/status-offline.png" alt="status" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-3 last">
                        <a href="#" title="rating">
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small-half.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small-empty.png" alt="rating" width="16" height="16" />
                        </a>
                    </div>
                </div>
                <div class="span-16 last trackListItem">
                    <div class="span-12"><a href="project.php?action=edit&pid=16">Projekt 1</a></div>
                    <div class="span-1">
                        <a href="#" title="status">
                            <img src="../Images/icons/status.png" alt="status" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-3 last">
                        <a href="#" title="rating">
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small-half.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small-empty.png" alt="rating" width="16" height="16" />
                        </a>
                    </div>
                </div>
                <div class="span-16 last trackListItem">
                    <div class="span-12"><a href="project.php?action=edit&pid=16">Projekt 1</a></div>
                    <div class="span-1">
                        <a href="#" title="status">
                            <img src="../Images/icons/status.png" alt="status" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-3 last">
                        <a href="#" title="rating">
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small-half.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small-empty.png" alt="rating" width="16" height="16" />
                        </a>
                    </div>
                </div>
            </div>


            <h1>Projects</h1>
            <div class="trackList">
                <div class="span-16 last trackListItem">
                    <div class="span-6"><a href="project.php?action=edit&pid=16">Projekt 1</a></div>
                    <div class="span-1">
                        <a href="#" title="status">
                            <img src="../Images/icons/status.png" alt="status" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-1">
                        <a href="#" title="remix">
                            <img src="../Images/icons/equalizer.png" alt="equalizer" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-2">
                        <a href="">release</a>
                    </div>
                    <div class="span-3">
                        <a href="">looking f. artist</a>
                    </div>
                    <div class="span-3 last">
                        <a href="#" title="rating">
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small-half.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small-empty.png" alt="rating" width="16" height="16" />
                        </a>
                    </div>
                </div>
                <div class="span-16 last trackListItem">
                    <div class="span-6"><a href="project.php?action=edit&pid=16">Projekt 1</a></div>
                    <div class="span-1">
                        <a href="#" title="status">
                            <img src="../Images/icons/status.png" alt="status" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-1">
                        <a href="#" title="remix">
                            <img src="../Images/icons/equalizer.png" alt="equalizer" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-2">
                        <a href="">release</a>
                    </div>
                    <div class="span-3">
                        <a href="">looking f. artist</a>
                    </div>
                    <div class="span-3 last">
                        <a href="#" title="rating">
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small-half.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small-empty.png" alt="rating" width="16" height="16" />
                        </a>
                    </div>
                </div>
                <div class="span-16 last trackListItem">
                    <div class="span-6"><a href="project.php?action=edit&pid=16">Projekt 1</a></div>
                    <div class="span-1">
                        <a href="#" title="status">
                            <img src="../Images/icons/status.png" alt="status" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-1">
                        <a href="#" title="remix">
                            <img src="../Images/icons/equalizer.png" alt="equalizer" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-2">
                        <a href="">release</a>
                    </div>
                    <div class="span-3">
                        <a href="">looking f. artist</a>
                    </div>
                    <div class="span-3 last">
                        <a href="#" title="rating">
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small-half.png" alt="rating" width="16" height="16" />
                            <img src="../Images/icons/star-small-empty.png" alt="rating" width="16" height="16" />
                        </a>
                    </div>
                </div>
            </div>


        </div>

        <div  class="span-8 last">
            <div  class="box-grey">

                <div class="sidetwo">
                    <div class="sidetwoLeft">
                        <img src="${userImgUrl}" width="55" />
                    </div>
                    <div class="sidetwoRight">
                        <h1>${userName}</h1>
                        ${Common/sendMessage_optional}
                    </div>
                    <div class="clear"></div>
                </div>


                <div class="line">&nbsp;</div>

                <p><a href="account.php">Edit Profile</a></p>

                <div class="line">&nbsp;</div>

                <p>
                  Skills:<br />
                  ${skills}
                </p>

                <div class="line">&nbsp;</div>

                <p>
                  Genres:<br />
                  ${genres}
                </p>

                <div class="line">&nbsp;</div>

                <p>
                  Tools:<br />
                  ${tools}
                </p>

                <div class="line">&nbsp;</div>

                ${Artist/video_optional}

                ${Artist/artistInfo_optional}

                ${Artist/influences_optional}

                ${Common/externalWebLink_list}

            </div>
        </div>

    </div>

    ${Common/bodyFooter}

</body>

<script type="text/javascript">

function getFlashContent(name) {
    if (navigator.appName.indexOf("Microsoft") != -1) {
        return window[name];
    } else {
        return document[name];
    }
}

function reloadDataInWidget(aid, tid) {
    getFlashContent("NTWidget").reloadData(aid, tid);
}

function showCollaborationUsersPopup() {
    window.open('showCollaborationUsers.php?aid=${userId}', 'NT_COLLABORATORS', 'scrollbars=yes,resizable=yes,status=0,width=400,height=600');
}

</script>

${Common/pageFooter}
