<h1>Projects</h1>
            <div class="trackList">
                ${Artist/projectListElement_list}
<!--
                <div class="span-16 last trackListItem">
                    <div class="span-6"><a href="${baseUrl}project?action=edit&pid=16">Projekt 1</a></div>
                    <div class="span-1">
                        <a href="#" title="status">
                            <img src="${baseUrl}Images/icons/status.png" alt="status" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-1">
                        <a href="#" title="remix">
                            <img src="${baseUrl}Images/icons/equalizer.png" alt="equalizer" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-2">
                        <a href="">release</a>
                    </div>
                    <div class="span-3">
                        <a href="">looking f. artist</a>
                    </div>
                    <div class="span-3 last">
                        <a href="#" title="rating">
                            <img src="${baseUrl}Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="${baseUrl}Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="${baseUrl}Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="${baseUrl}Images/icons/star-small-half.png" alt="rating" width="16" height="16" />
                            <img src="${baseUrl}Images/icons/star-small-empty.png" alt="rating" width="16" height="16" />
                        </a>
                    </div>
                </div>
                <div class="span-16 last trackListItem">
                    <div class="span-6"><a href="${baseUrl}project?action=edit&pid=16">Projekt 1</a></div>
                    <div class="span-1">
                        <a href="#" title="status">
                            <img src="${baseUrl}Images/icons/status.png" alt="status" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-1">
                        <a href="#" title="remix">
                            <img src="${baseUrl}Images/icons/equalizer.png" alt="equalizer" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-2">
                        <a href="">release</a>
                    </div>
                    <div class="span-3">
                        <a href="">looking f. artist</a>
                    </div>
                    <div class="span-3 last">
                        <a href="#" title="rating">
                            <img src="${baseUrl}Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="${baseUrl}Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="${baseUrl}Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="${baseUrl}Images/icons/star-small-half.png" alt="rating" width="16" height="16" />
                            <img src="${baseUrl}Images/icons/star-small-empty.png" alt="rating" width="16" height="16" />
                        </a>
                    </div>
                </div>
                <div class="span-16 last trackListItem">
                    <div class="span-6"><a href="${baseUrl}project?action=edit&pid=16">Projekt 1</a></div>
                    <div class="span-1">
                        <a href="#" title="status">
                            <img src="${baseUrl}Images/icons/status.png" alt="status" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-1">
                        <a href="#" title="remix">
                            <img src="${baseUrl}Images/icons/equalizer.png" alt="equalizer" width="16" height="16" />
                        </a>
                    </div>
                    <div class="span-2">
                        <a href="">release</a>
                    </div>
                    <div class="span-3">
                        <a href="">looking f. artist</a>
                    </div>
                    <div class="span-3 last">
                        <a href="#" title="rating">
                            <img src="${baseUrl}Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="${baseUrl}Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="${baseUrl}Images/icons/star-small.png" alt="rating" width="16" height="16" />
                            <img src="${baseUrl}Images/icons/star-small-half.png" alt="rating" width="16" height="16" />
                            <img src="${baseUrl}Images/icons/star-small-empty.png" alt="rating" width="16" height="16" />
                        </a>
                    </div>
                </div>
-->
            </div>
