${Common/pageHeader}

<body>

${Common/bodyHeader}


    <div id="pageContent" class="container">


        <div class="span-16 last">

            <div class="span-16 last">
                <h1>Top artists</h1>
                <div class="trackList">
                    ${ArtistList/artistListItem_top_list}
                </div>
            </div>

            <div class="span-16 last">
                <h1>Latest artists</h1>
                <div class="trackList">
                    ${ArtistList/artistListItem_latest_list}
                </div>
            </div>

        </div>


        <div class="span-8 last">

            <div class="box-grey">
                <h2>
                    Go on with ONELOUDR.COM and
                    <a href="account.php" class="button button-big green">
                        Sign In
                    </a>
                </h2>
            </div>

            <div class="box-grey">
                <h2>Discover new music, support the artists and be a fan.</h2>

                <p>
                    <strong>browse by genre:</strong><br />
                    <a href="#">hip-hop</a>
                    <a href="#">rock</a>
                    <a href="#">electro</a>
                    <a href="#">rap</a>
                    <a href="#">alternative</a>
                    <a href="#">funk</a>
                    <a href="#">jazz</a>
                    <a href="#">soul</a>
                    <a href="#">folk</a>
                    <a href="#">r&b</a>
                    <a href="#">noise</a>
                    <a href="#">dance</a>
                    <a href="#">metal</a>
                    <a href="#">indie</a>
                    <a href="#">instrumental</a>
                </p>
            </div>


        </div>

    </div>

${Common/bodyFooter}

</body>

${Common/pageFooter}
