${Common/pageHeader}

<body>

${Common/bodyHeader}


    <div id="pageContent" class="container">

        <div class="span-16">

            <div class="span-16 last">
                <h1>Top artists</h1>
                <div class="trackList">
                    ${ArtistList/artistListItem_top_list}
                </div>
            </div>

            <div class="span-16 last">
                <h1>Latest artists</h1>
                <div class="trackList">
                    ${ArtistList/artistListItem_latest_list}
                </div>
            </div>

        </div>


        <div class="span-8 last">

        </div>

    </div>

${Common/bodyFooter}

</body>

${Common/pageFooter}
