${Common/pageHeader}

<body>

${Common/bodyHeader}


    <div id="pageContent" class="container">

        <div class="span-16">

            <div class="span-16 last">
                <h1>Top artists</h1>
                <div class="trackList">
                    ${ArtistList/artistListItem_top_list}
                </div>
            </div>

            <div class="span-16 last">
                <h1>Latest artists</h1>
                <div class="trackList">
                    ${ArtistList/artistListItem_latest_list}
                </div>
            </div>

        </div>


       <div class="span-8 last">
            <div class="box-grey">

                <h2>Invite a Friend:</h2>
                <input type="text" id="title" name="title" value="E-Mail" maxlength="255">
                <input class="button-small blue" 
                    type="submit" 
                    value="send" 
                    onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">

                <br />
                <br />
                <br />

                <h2>Search an Artist:</h2>
                <input type="text" id="title" name="title" value="Artist Name" maxlength="255">
        
                <input class="button-small blue" 
                    type="submit" 
                    value="search" 
                    onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">


            </div>
        </div>

    </div>

${Common/bodyFooter}

</body>

${Common/pageFooter}
