${Common/pageHeader}

<body>

    ${Common/bodyHeader}

    <div class="container">
      <div class="span-16 last box-grey">
        <h1>You're almost there!</h1>
        <br/>
        Your account was created successfully but you need to activate it first.<br />
        Please check your <b>${emailAddress}</b> inbox and click the activation link.<br />
        <br/>
        <a href="${baseUrl}">Back to start page</a>
      </div>
    </div>

    ${Common/bodyFooter}

</body>

${Common/pageFooter}
