
<div id="pageHeaderWrapper">
    <div id="pageHeader">

        <div id="logoWrapper">
            <div id="logo">
                <a href="${logoLinkUrl}">
                    <img src="${baseUrl}Images/logo-beta.png" alt="oneloudr logo" width="250" height="36" />
                </a>
            </div>
            <!--
            <div id="betaLogo">
                <a href="${logoLinkUrl}" class="betaTag blue">
                    Beta
                </a>
            </div>
            -->
            <div class="clear"></div>
        </div>

        <div id="loginWrapper">
            <div id="loginStatusDiv">

                ${Common/signUpAndLoginMenuItems_optional}
                ${Common/loggedInUserFirstRowMenuItems_optional}

                <div class="topMenuItemSearch">
                    <div class="topSearch">
                        <!--<form action="${baseUrl}search" method="get">
                            <input name="s" id="topSearchInput" onclick="ClearInput(this.id);" type="text" value="Search" class="field" maxlength="50" />
                            <input type="submit" value="" id="topSearchSubmit" />
                        </form>-->
                    </div>
                </div>
            </div>
        </div> <!-- loginWrapper -->
    </div> <!-- pageHeader -->
</div><!-- pageHeaderWrapper -->


${Common/loggedInUserSecondRowMenuItems_optional}


