<div id="footerWrapper">
    <div id="footer" class="container">

        <div class="span-8">
            <h3>About oneloudr</h3>
            <ul class="footerMenu">
                <li><a href="${baseUrl}about">Oneloudr for artists</a></li>
                <li><a href="${baseUrl}about4Labels">Oneloudr for labels</a></li>
                <li><a href="${baseUrl}terms">Terms of use</a></li>
                <li><a href="${baseUrl}faq">FAQ</a></li>
                <!-- <li><a href="${baseUrl}blog">Blog</a></li> -->
                <li>&copy; Copyright 2011-2012 oneloudr</li>
            </ul>
        </div>

        <div class="span-8">

            <h3>Connect with us</h3>
            <ul class="footerMenu">
                <li><a href="${baseUrl}newsletter">Newsletter Subscription</a></li>
                <li><a href="javascript:$('#uvTabLabel').click();">Feedback</a></li>
                <li><a href="${baseUrl}contact">Contact</a></li>
            </ul>


            <ul class="footerSocialmedia">
                <li class="footerSocialmediaFacebook">
                    <a href="https://www.facebook.com/oneloudr" title="Facebook" target="_blank">
                        &nbsp;
                    </a>
                </li>
                <li class="footerSocialmediaTwitter">
                    <a href="http://twitter.com/#!/oneloudr" title="Twitter" target="_blank">
                        &nbsp;
                    </a>
                </li>
                <li class="footerSocialmediaYoutube">
                    <a href="http://www.youtube.com/user/oneloudr" title="Youtube" target="_blank">
                        &nbsp;
                    </a>
                </li>
                <li class="footerSocialmediaGooglePlus">
                    <!-- Place this tag in the <head> of your document-->
<link href="https://plus.google.com/110754226560658742421" rel="publisher" />

<!-- Place this tag where you want the badge to render-->
<a href="https://plus.google.com/110754226560658742421?prsrc=3" style="text-decoration: none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" width="32" height="32" style="border: 0;"/></a>
                </li>
            </ul>

        </div>

        <div class="span-8 last">
            <h3>Oneloudr PRO</h3>
            <ul class="footerMenu">
                <li><a href="${baseUrl}pricing">Plan</a></li>
                <li><a href="${baseUrl}proudLoudrInfo">ProudLoudr</a></li>
                <li><a href="${baseUrl}licensing">Safe</a></li>
                <li><a href="${baseUrl}shop">Shop</a></li>
            </ul>
        </div>

        <div class="span-24 last">
            <ul class="footerLogos">
                <li class="footerLogoImpulse">
                    <a href="#" title="Impulse AWS">&nbsp;</a>
                </li>
                <li class="footerLogoStartup">
                    <a href="#" title="Startup Bootcamp">&nbsp;</a>
                </li>
            </ul>
        </div>

    </div>
</div>
