
<div id="pageHeaderWrapper">
    <div id="pageHeader">

        <div id="logo">
            <a href="index.php" alt="Home">
                ONELOUDR <span class="blue">BETA</span>
            </a>
        </div>

        <div id="signUpTeaser">
            <a href="account.php">...</a>
        </div>

        <div id="loginWrapper">
            <div id="loginStatusDiv">

                ${Common/signUpAndLoginMenuItems_optional}
                ${Common/loggedInUserMenuItems_optional}
                

                <div class="topMenuItemSearch">
                    <div class="topSearch">
                        <form action="search.php" method="get">
                            <input name="s" id="topSearchInput" onclick="ClearInput(this.id);" type="text" value="Search" class="field" maxlength="50" />
                            <input type="submit" value="" id="topSearchSubmit" />
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- loginWrapper -->
    </div> <!-- pageHeader -->
</div><!-- pageHeaderWrapper -->




<div id="mainMenuWrapper">
    <div id="mainMenu">
    	<ul>
    		<li><a href="index.php">Artists</a></li>
    		<li><a href="blog.php">Blog</a></li>
    		<li><a href="featuresNew.php">Features</a></li>
    		<li><a href="pricing.php">Pricing</a></li>
    	</ul>
    </div>
</div> <!-- mainMenuWrapper -->
