<div id="footerWrapper">
    <div id="footer" class="container">

        <div class="span-8">
            <h3>About Us</h3>
            <ul class="footerMenu">
                <li><a href="about.php">About Page</a></li>
                <!-- <li><a href="blog.php">Blog</a></li> -->
                <li>&copy; Copyright 2011 oneloudr</li>
            </ul>
        </div>

        <div class="span-8">
        
            <h3>Connect with Us</h3>
            <ul class="footerMenu">
                <li><a href="contact.php">Contact</a></li>
                <li><a href="termsandconditions.php">Terms of use</a></li>
                <li><a href="faq.php" target="_blank">Help and Feedback</a></li>
            </ul>


            <ul class="footerSocialmedia">
                <li class="footerSocialmediaFacebook">
                    <a href="https://www.facebook.com/oneloudr" title="Facebook" target="_blank">
                        &nbsp;
                    </a>
                </li>
                <li class="footerSocialmediaTwitter">
                    <a href="http://twitter.com/#!/oneloudr" title="Twitter" target="_blank">
                        &nbsp;
                    </a>
                </li>
                <li class="footerSocialmediaYoutube">
                    <a href="http://www.youtube.com/user/oneloudr" title="Youtube" target="_blank">
                        &nbsp;
                    </a>
                </li>
            </ul>

        </div>

        <div class="span-8 last">
            <h3>oneloudr.com</h3>
            <ul class="footerLogos">
                <li class="footerLogoImpulse">
                    <a href="#" title="Impulse AWS">&nbsp;</a>
                </li>
                <li class="footerLogoStartup">
                    <a href="#" title="Startup Bootcamp">&nbsp;</a>
                </li>
            </ul>
        </div>

    </div>
</div>
