<div id="footerWrapper">
    <div id="footer" class="container">

        <div class="span-8">
            <h3>About Us</h3>
            <ul class="footerMenu">
                <li><a href="${baseUrl}Site/about.php">About Page</a></li>
                <!-- <li><a href="${baseUrl}Site/blog.php">Blog</a></li> -->
                <li>&copy; Copyright 2011 oneloudr</li>
            </ul>
        </div>

        <div class="span-8">

            <h3>Connect with Us</h3>
            <ul class="footerMenu">
                <li><a href="${baseUrl}Site/contact.php">Contact</a></li>
                <li><a href="${baseUrl}Site/terms.php">Terms of use</a></li>
            </ul>


            <ul class="footerSocialmedia">
                <li class="footerSocialmediaFacebook">
                    <a href="https://www.facebook.com/oneloudr" title="Facebook" target="_blank">
                        &nbsp;
                    </a>
                </li>
                <li class="footerSocialmediaTwitter">
                    <a href="http://twitter.com/#!/oneloudr" title="Twitter" target="_blank">
                        &nbsp;
                    </a>
                </li>
                <li class="footerSocialmediaYoutube">
                    <a href="http://www.youtube.com/user/oneloudr" title="Youtube" target="_blank">
                        &nbsp;
                    </a>
                </li>
                <li class="footerSocialmediaGooglePlus">
                    <!-- Place this tag in the <head> of your document-->
<link href="https://plus.google.com/110754226560658742421" rel="publisher" />

<!-- Place this tag where you want the badge to render-->
<a href="https://plus.google.com/110754226560658742421?prsrc=3" style="text-decoration: none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" width="32" height="32" style="border: 0;"/></a>
                </li>
            </ul>

        </div>

        <div class="span-8 last">
            <h3>oneloudr.com</h3>
            <ul class="footerLogos">
                <li class="footerLogoImpulse">
                    <a href="#" title="Impulse AWS">&nbsp;</a>
                </li>
                <li class="footerLogoStartup">
                    <a href="#" title="Startup Bootcamp">&nbsp;</a>
                </li>
            </ul>
        </div>

    </div>
</div>
