
<div id="mainMenuWrapper">
    <div id="mainMenu">
        <nav>
    	<ul>
    		<li class="mainMenuItem${dashboardActiveMenuItemClass}">
                <a href="${baseUrl}dashboard?aid=${userId}">
                    <span class="mainMenuIcon">
                        <img src="${baseUrl}Images/icons/mail.png" alt="messages" width="24" height="24" />
                    </span>
                    <span class="mainMenuLink">Messages</span>
                </a>
            </li>
    		<li class="mainMenuItem${projectListActiveMenuItemClass}">
                <a href="${baseUrl}projectList">
                    <span class="mainMenuIcon">
                        <img src="${baseUrl}Images/icons/inbox-document-music.png" alt="project" width="24" height="24" />
                    </span>
                    <span class="mainMenuLink">Projects</span>
                </a>
            </li>
    		<li class="mainMenuItem${artistListActiveMenuItemClass}">
                <a href="${baseUrl}artistList">
                    <span class="mainMenuIcon">
                        <img src="${baseUrl}Images/icons/megaphone.png" alt="megaphone" width="24" height="24" />
                    </span>
                    <span class="mainMenuLink">Discover</span>
                </a>
            </li>

    		<li class="mainMenuItem${artistActiveMenuItemClass}">
                <a href="${baseUrl}artist?aid=${userId}">
                    <span class="mainMenuIcon">
                        <img src="${baseUrl}Images/icons/profile.png" alt="profile" width="24" height="24" />
                    </span>
                    <span class="mainMenuLink">Profile</span>
                </a>
            </li>

    	</ul>
    	</nav>
    </div>
</div>




