<div class="topMenuItem">
    <a href="trackList.php">Me</a>
	<div class="topMenuSub">

	    <div class="topMenuSubItem">
	        <a href="userInfo.php?aid=xx">Artistpage</a>
	    </div>

	    <div class="topMenuSubItem">
	        <a href="trackList.php">My tracks</a>
	    </div>

	    <div class="topMenuSubItem">
	        <a href="collaboration.php">Collaboration</a>
	    </div>

	</div>
</div>


<div class="topMenuItem">
    <a href="account.php">Settings</a>
	<div class="topMenuSub">
	    <div class="topMenuSubItem">
	        <a href="account.php">Profile</a>
	    </div>
	</div>
</div>