<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">

  <head>

    <title>${pageTitle} - ONELOUDR.COM</title>

    <link rel="stylesheet" href="../Styles/bp-print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="../Styles/bp-screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="../Styles/bp-forms.css" type="text/css" media="screen, projection" />
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="../Styles/bp-ie.css" type="text/css" media="screen, projection" />
    <![endif]-->

    <link rel="stylesheet" href="../Styles/buttons.css" type="text/css" />
    <link rel="stylesheet" href="../Styles/main.css" type="text/css" />
    ${Common/jPlayerStylesheet_optional}
    ${Common/ajaxPaginationStylesheet_optional}
    ${Common/chosenStylesheet_optional}

    <script type="text/javascript" src="../Javascripts/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="../Javascripts/galleria-1.2.3.min.js"></script>
    <script type="text/javascript" src="../Javascripts/jquery.main.js"></script>
    <script type="text/javascript" src="../Javascripts/Snippets.js"></script>
    ${Common/jPlayerScript_optional}
    ${Common/ajaxPaginationScript_optional}
    ${Common/chosenScript_optional}

  <head>
