<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

    <title>${pageTitle} - ONELOUDR.COM</title>

    <!-- <base href="http://www.oneloudr.com/" target="_blank" /> -->

	<meta charset="UTF-8" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Music Collaboration made easy"/>
    <meta name="keywords" content="Music Collaboration, Co-Create, Discover, Find Music, Find Musicians, Artists, Create Projects, Find Artists,"/>        

    <meta name="author" content="oneloudr.com" />
    <meta name="revisit-after" content="10 days" />
    <meta name="robots" content="index, follow" />
	<meta name="viewport" content="width=1200px" />

    <!--
        Joe Benso
        Hanno Jonas - www.rastaduck.org
        Roland Kainbacher MA - www.beautyparlour.at
        Markus Dietrich  
        Eric Poscher
    -->

    <link rel="stylesheet" href="../Styles/bp-print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="../Styles/bp-screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="../Styles/bp-forms.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="../Styles/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="../Styles/bp-ie.css" type="text/css" media="screen, projection" />
    <![endif]-->

    <link rel="stylesheet" href="../Styles/buttons.css" type="text/css" />
    <link rel="stylesheet" href="../Styles/main.css" type="text/css" />
    ${Common/jPlayerStylesheet_optional}
    ${Common/ajaxPaginationStylesheet_optional}
    ${Common/chosenStylesheet_optional}

    <script type="text/javascript" src="../Javascripts/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="../Javascripts/galleria-1.2.3.min.js"></script>
    <script type="text/javascript" src="../Javascripts/jquery.main.js"></script>
    <script type="text/javascript" src="../Javascripts/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="../Javascripts/Snippets.js"></script>
    ${Common/jPlayerScript_optional}
    ${Common/ajaxPaginationScript_optional}
    ${Common/chosenScript_optional}

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-716626-7']);
        _gaq.push(['_trackPageview']);
        
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

  <head>
