
<div class="topMenuItem">
    <a href="${baseUrl}account">Sign up for free</a>
</div>

<div class="topMenuItem">
    <a href="javascript:showLogin();">Sign in</a>
    <div class="topMenuSub topMenuSubLogin">
        <div class="topMenuSubItem">
            <div  class="topMenuSubLoginItem">

                <form name="loginForm" action="${baseUrl}" method="POST">
                    <input type="hidden" name="action" value="login">

                    <div  class="topMenuLoginWrapper">
                        <div  class="topMenuLoginLabel">
                            <label class="loginFormLabel">Email:</label>
                        </div>
                        <div  class="topMenuLoginInput">
                            <input id="loginUsername" type="text" name="username" value="">
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div  class="topMenuLoginWrapper">
                        <div  class="topMenuLoginLabel">
                            <label for="loginPassword" class="loginFormLabel">Password:</label>
                        </div>
                        <div  class="topMenuLoginInput">
                            <input id="loginPassword" type="password" name="password" value="">
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div  class="topMenuLoginWrapper">
                        <div  class="topMenuLoginLabel">
                            &nbsp;
                        </div>
                        <div  class="topMenuLoginInput">
                            <input class="button blue small" type="submit" value="Sign in">
                        </div>
                        <div class="clear"></div>
                    </div>

                </form>

            </div>
        </div>

        <div  class="topMenuSubItem">
            <a href="${facebookLoginUrl}">
                <span class="topMenuSubItemIcon">
                    <img src="${baseUrl}Images/icons/facebook.png" width="24" height="24" alt="Facebook">
                </span>
                <span class="topMenuSubItemText">
                    Sign in via Facebook
                </span>
                <span class="clear"></span>
            </a>
        </div>

        <div  class="topMenuSubItem">
            <a href="${baseUrl}resetPassword">
                <span class="topMenuSubItemIcon">
                    <img src="${baseUrl}Images/icons/lock.png" alt="box" width="24" height="24" />
                </span>
                <span class="topMenuSubItemText">
                    Forgot password?
                </span>
                <span class="clear"></span>
            </a>
        </div>

    </div>

</div>

<div class="topMenuItem"> <!-- FIXME roland - das hier ist nur vorbereitet, damit mal irgendwas anzeigt wird -->
    ${loginErrorMsg_optional}
</div>
