<p>
  <object width="285" height="145">
    <!--<param name="movie" value="http://www.youtube.com/v/PY2jW56o1Zo?version=3&amp;hl=de_DE"></param>-->
    <param name="movie" value="http://www.youtube.com/v/${videoId}?version=3&amp;hl=de_DE&amp;rel=0"></param>
    <param name="allowFullScreen" value="true"></param>
    <param name="allowscriptaccess" value="always"></param>
    <embed src="http://www.youtube.com/v/${videoId}?version=3&amp;hl=de_DE&amp;rel=0" type="application/x-shockwave-flash" width="285" height="145" allowscriptaccess="always" allowfullscreen="true" wmode="transparent"></embed>
  </object>
</p>
<div class="line">&nbsp;</div>
