${Common/pageHeader}

<body>

    <script type="text/javascript">

        var termsAccepted = false;

        function acceptTerms() {
            termsAccepted = true;
        }

        function showCommercialLicenseeTerms() {
            window.open('commercialLicenseeTerms.php','TERMS_AND_CONDITIONS','scrollbars=yes,resizable=yes,status=0,width=1100,height=600');
        }

    </script>

    ${Common/bodyHeader}

    <div id="pageContent" class="container">
      <div class="span-24 last box-grey">
        
     
${offerSent_optional}        
        
${MakeAnOffer/artistOfferForm_optional}

        <div id="trackFormDiv">
            <div id="container">

                <form action="" method="POST" enctype="multipart/form-data">
                   <input type="hidden" name="action" value="send">
                   <input type="hidden" name="tid" value="${trackId}">

                    <br/>
                    <h1>${headline}:</h1>

                    <br/>
                    <br/>

                    <div class="makeAnOfferWrapper">
                        <div class="makeAnOfferBroad">
                            <p>Thank you for your interest in licensing the song <b>${trackTitle}</b>.
                    To license the song, you must complete this form and agree to the terms of our standard license agreement.</p>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="makeAnOfferWrapper">
                        <div class="makeAnOfferLeft">
                            <p>Your Email</p>
                        </div>
                        <div class="makeAnOfferRight">

${email}

                        </div>
                        <div class="makeAnOfferInfo">
                            <p>Please specify your email address, so that we can contact you.</p>
                        </div>
                        <div class="clear"></div>
                    </div>



                    <div class="makeAnOfferWrapper">
                        <div class="makeAnOfferLeft">
                            <p>Song usage</p>
                        </div>
                        <div class="makeAnOfferRight">

${usageCategory}

                        </div>
                        <div class="makeAnOfferInfo">
                            ${usageInfo}
                        </div>
                        <div class="clear"></div>
                    </div>



                    <div class="makeAnOfferWrapper">
                        <div class="makeAnOfferLeft">
                            <p>Your Offer</p>
                        </div>
                        <div class="makeAnOfferRight">

${price}

                        </div>
                        <div class="makeAnOfferInfo">
                            <p>What price are you offering $</p>
                        </div>
                        <div class="clear"></div>
                    </div>



                     <div class="makeAnOfferWrapper">
                        <div class="makeAnOfferBroad">
                            ${aboutLicensingTerms}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="makeAnOfferWrapper">
                        <div class="makeAnOfferBroad">
             
                  
                  
                    ${licensingTerms}

             
                 </div>
               <div class="clear"></div>
            </div>

            <div class="makeAnOfferWrapper">
                <div class="makeAnOfferLeft">
                  I have read and understand the license agreement
                </div>
                <div class="makeAnOfferRight">

${accepted}


            </div>
            <div class="clear"></div>
            </div>

            <div class="makeAnOfferWrapper">
                  <div class="makeAnOfferLeft">
                     <input class="button" type="submit" value="send my offer">
                  </div>
                  <div class="makeAnOfferRight">
                    <a href="${baseUrl}" class="button">I DO NOT ACCEPT</a>
                  </div>
                  <div class="clear"></div>
            </div>


               </div>

               </form>
             </div> <!-- container -->
         </div> <!-- trackFormDiv -->

         <div id="trackFormDivEnd"></div>

      </div>
    </div>

    ${Common/bodyFooter}

</body>

${Common/pageFooter}