Dear ${username},

Thank you for Notethrowing!

We want to thank you for working with our platform and so today, you are among the first who are receiving the latest news about our project!

Since the beginning of September we are here at Startupbootcamp Copenhagen [1] to bring Notethrower to the next step. We're turning the project's volume knob up to eleven and that's why from now on, we will be known as Oneloudr! You can follow the news from our Development Team on Twitter [2]

Oneloudr is getting a Facelift and taking the best of what we've learned from Notethrower, and adding some exciting new features you've been waiting for. Of course, we are still committed to creating the best platform for music creation and music discovery amongst the best community of artists online.

All your uploaded music and username data will stay the same, and you can log in to Oneloudr with your email address and password you used for Notethrower as soon as we are relaunching the site.

We would love your support during our transition.  Below is your chance to invite 3 of the best artists or producers you know to make music and earn money together.

This is your personal Invitation URL to send to your favourite music collaborators: ${referralUrl}


Best regards from Copenhagen,
Your Oneloudr team.

http://oneloudr.com/
[1] http://startupbootcamp.org/
[2] http://ur1.at/twitteroneloudr
