Dear ${username}

Congratulations for beeing one of the first Oneloudr Users! 
We will be launching soon to provide the next Generation of 
Music creation, discovery and distribution online!


Below is your chance to invite 3 of the best artists or producers you know to make music and earn money together.
This is your personal Invitation URL to send to your favourite music collaborators: ${referralUrl}


Best regards from Copenhagen,
Your Oneloudr team.

http://oneloudr.com/
http://ur1.at/twitteroneloudr
