${Common/pageHeader}
                <h1>Private Beta Invite!</h1>
                <p>
Musicians now have a brand new instrument: <bold> Oneloudr.com </bold>
</p>
<p>
Create music with other professionals.   
</p>
<p>
Finally get your music discovered by entering the oneloudr charts, and watch your music rise in the best community rating system online.                       
</p>
<p>
Publish your music and earn money together with your collaborators.
</p>
<p>
This is a private invitation only Service at the moment. Ask your musician friends if they already got an invitation Link or wait for the Private Beta Signup. 
</p>

<p>
In the meantime, you can Follow us on twitter or facebook.
</p>


${Common/pageFooter}
