${Common/pageHeader}
                <h1>Private Beta Invite!</h1>
                <p>
Musicians now have a brand new instrument: <bold> Oneloudr.com </bold>
</p>
<p>
Create music with other professionals. 
</p>
<p>
Finally get your music discovered by entering the oneloudr charts, and watch your music rise in the best community rating system online. 
</p>
Publish your music and earn money together with your collaborators.
<p>
</p>
<p>
                </p>

                <p>
                    Reserve your artist/username and we'll put you on the invite list.
                </p>
                ${Optional/error}
                <form name="frm" action="${formAction}" method="POST">
                    <div class="label">
                        <label for="username">
                            Username:
                        </label>
                        <input type="text" name="username" value="${Optional/username}" />
                        <div class="clearfix">
                        </div>
                    </div>
                
                    </label>

                    <input type="image" src="/OL/Images/subscription/submit.png">
                
                </form>

${Common/pageFooter}
