${Common/pageHeader}
<body>
<h1>You're in the band!</h1>

<p>
Thank you for your interest in Oneloudr.com! 
</p>

<p>
Send this Invitation Link to 3 of your musician friends now via e-mail or use the buttons below!
</p>

<p>${referalUrl}</p>

<!-- AddThis Button BEGIN -->
<script type="text/javascript">
    var addthis_config = {"data_track_clickback":false};
    var addthis_share = {
        "url":"${referalUrl}",
        "title":"OneLoudr Referral",
        "description":"Link Description"
    };
    
</script>
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e7266cc3598fe58"></script>
<!-- AddThis Button END -->
</body>

${Common/pageFooter}

