${Common/pageHeader}

<h1>Enter your email address</h1>

<p>
.. so we can keep you posted, when you will be among the first to create music on Oneloudr!
</p>


${Optional/error}
<form name="frm" action="${formAction}" method="POST">
    <input type="hidden" name="username" value="${userName}" />
    <div class="label">
        <label for="email">
            E-Mail:
        </label>
        <input type="text" name="email" value="${Optional/email}" />
        <div class="clearfix">
        </div>
    </div>

    </label>

    <input type="image" src="../OL/Images/subscription/submit.png">
</form>


${Common/pageFooter}
