${Common/pageHeader}

<body>

(mobile version)

  <h1>${userName}</h1>

  <img src="${userImgUrl}" width="200" /><br />
  <br />

  ${webpageLink}
  ${sendMessage}
  ${artistInfo}
  ${additionalInfo}

  <div id="sendMessageOverlay">
    <div id="sendMessageWrapper"></div>
  </div> <!-- sendMessageOverlay -->

  <script type="text/javascript">

function getFlashContent(name) {
    if (navigator.appName.indexOf("Microsoft") != -1) {
        return window[name];
    } else {
        return document[name];
    }
}

function reloadDataInWidget(aid, tid) {
    getFlashContent("NTWidget").reloadData(aid, tid);
}

function showCollaborationUsersPopup() {
    window.open('showCollaborationUsers.php?aid=${userId}', 'NT_COLLABORATORS', 'scrollbars=yes,resizable=yes,status=0,width=400,height=600');
}

  </script>

</body>

${Common/pageFooter}
