${Common/pageHeader}

<body>

${Common/bodyHeader}

<div id="pageContent">

    <div class="container">

        <div class="span-16">

            <h1>Dashboard</h1>
                    
                <div class="dashboardListWrapper">
                    <ul class="dashboardList">
                        <li>
                            <a href="userInfo.php?aid=7">
                                <img src="../Images/icons-dashboard/guitar.png" alt="guitar" width="80" height="83" /><br />
                            Artistpage
                            </a>
                        </li>
                        <li>
                            <a href="trackList.php">
                                <img src="../Images/icons-dashboard/wave.png" alt="guitar" width="80" height="83" /><br />
                            My Tracks
                            </a>
                        </li>
                        <li>
                            <a href="account.php">
                                <img src="../Images/icons-dashboard/micro.png" alt="guitar" width="80" height="83" /><br />
                            Upload
                            </a>
                        </li>
                        <li>
                            <a href="account.php">
                                <img src="../Images/icons-dashboard/settings.png" alt="guitar" width="80" height="83" /><br />
                            Settings
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="span-8 last">

                <div class="box-grey">
                    <a href="#" class="button blue">
                        Upload new Track
                    </a>
                </div>

                <div class="box-blue">
                    <h2>Featured Artists</h2>

                    <ul class="fanList">
                        <li>
                             <img src="../Images/no_artist_image.png" height="25" />
                             Joe Benso
                        </li>
                        <li>
                             <img src="../Images/no_artist_image.png" height="25" />
                             Franz Ferdinant
                        </li>
                        <li>
                             <img src="../Images/no_artist_image.png" height="25" />
                             Napoleon Ponaparte
                        </li>
                        <li>
                             <img src="../Images/no_artist_image.png" height="25" />
                             Max Mustermann
                        </li>
                        <li>
                             <img src="../Images/no_artist_image.png" height="25" />
                             Indiana Jones
                        </li>
                    </ul>

                </div>

            </div>

        </div>




<!--
    <div id="contentTop">
		<div id="trackGridWrapper">
			<div id="trackGridHeadlineContainer">
        		<div id="trackGridHeadline">Most recent tracks:</div>
        		<div><a class="button blue" href="javascript:toggleMode();">Show most downloaded</a></div>
      			<div class="clear"></div>
      		</div>

      		<div id="chosenTrackHeadlineContainer" style="display:none">
        		<div id="chosenTrackHeadline">Track details:</div>
      		</div>

      		<div id="trackGrid"><div id="tracksContent"></div></div>

			<div id="paginationWrapper">
        		<div id="pagination"> </div>
      			<script type="text/javascript">initTracksPagination();</script>
			</div>

      		<div id="chosenTrackDetailsContainer" style="display:none">
        		<div id="chosenTrackDetails">Some track details<br></div>
        		<div class="clear"></div>
      		</div>
		</div>
	</div>
-->


</div>

${Common/bodyFooter}

</body>

${Common/pageFooter}
