${Common/pageHeader}

<body>

${Common/bodyHeader}

<div id="pageContent">

    <div class="container">


        <div class="span-24 last">

            <div class="span-16">
                <h1>Messages</h1>

                <div>
                  ${Dashboard/messageListItem_list}
                  ${Dashboard/noMessagesFound_optional}
                </div>

            </div>

            <div class="span-8 last">
                <div class="box-grey inline-block">
                    <h2>Projects that need you</h2>
                    <div>
                        ${Dashboard/projectListItem_list}
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>

${Common/bodyFooter}

</body>

${Common/pageFooter}
