${Common/pageHeader}

<body>

${Common/bodyHeader}

<div id="pageContent">

    <div class="container">

        <div class="span-24 last">

            <div class="dashboardListWrapper">
                <ul class="dashboardList">
                    <li>
                        <a href="artist.php?aid=${userId}">
                            <img src="../Images/icons-dashboard/guitar.png" alt="guitar" width="80" height="83" /><br />
                            My Artistpage
                        </a>
                    </li>
                    <li>
                        <a href="projectList.php">
                            <img src="../Images/icons-dashboard/wave.png" alt="guitar" width="80" height="83" /><br />
                            My Projects
                        </a>
                    </li>
                    <li>
                        <a href="projectList.php">
                            <img src="../Images/icons-dashboard/wave.png" alt="guitar" width="80" height="83" /><br />
                            Find Artists
                        </a>
                    </li>
                    <li>
                        <a href="account.php">
                            <img src="../Images/icons-dashboard/micro.png" alt="guitar" width="80" height="83" /><br />
                            Create a Project
                        </a>
                    </li>
                    <li>
                        <a href="account.php">
                            <img src="../Images/icons-dashboard/settings.png" alt="guitar" width="80" height="83" /><br />
                        Profile
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="span-24 last">
            <br/>

            <div class="span-24 last">
                <ul class="tabs">

                    <li class="tabsItem"><a href="#" class="tab-1 tabsAct">Projects where you could contribute</a></li>
                    <li class="tabsItem"><a href="#" class="tab-2">Artists that could contribute to your projects</a></li>

                </ul>
            </div>

            <div class="span-24 last tabcontent-1 tabcontentAct">
                <div class="trackList">
                    ${Dashboard/projectListItem_list}
                </div>
            </div>

            <div class="span-24 last tabcontent-2">
                <div class="trackList">
                    ${Dashboard/artistListItem_list}
                </div>
            </div>

        </div>

    </div>


</div>

${Common/bodyFooter}

</body>

${Common/pageFooter}
