<div class="span-15 last messageItem">
    <div class="span-2">
        <img src="${senderImgUrl}" width="60" />
    </div>
    <div class="span-13 last messageItemContent">
        <h3><a href="${baseUrl}Site/artist.php?aid=${senderId}">${senderName}</a></h3>
        <h2>${subject}</h2>
        <div class="messageItemShortText">
            <p>${text}</p>
        </div>
        <div class="messageItemTimestamp">${timestamp}</div>
        <div class="messageItemDelete">
            <a href="${baseUrl}Site/dashboard.php?action=deleteMsg&mid=${messageId}">&nbsp;</a>
        </div>
    </div>
</div>
