${Common/pageHeader}

<body>

<h1>OneLoudr.com</h1>
<br />

<div id="pageContent">

  ${Startpage/login_optional}${Startpage/loggedInUserInfo_optional} <!-- either one or the other appears -->

  ${Common/message_list}

  <div id="genreSelector" style="width:900px;text-align:center;background-color:#DDDDDD">
    Genre: ${selectedGenre}<br />
    <div id="genreSelection">
      <small>${Startpage/genreSelectionElement_list}</small>
    </div>
  </div>

  <div id="songCompetition" style="width:900px;background-color:#EEEEEE">
    <div id="leftPlayer" style="float:left;background-color:#FFFFFF;margin:5px;padding:5px;">
      ${Startpage/player_left}
    </div>

    <div id="rightPlayer" style="float:right;background-color:#FFFFFF;margin:5px;padding:5px;">
      ${Startpage/player_right}
    </div>

    <div style="clear:both">
  </div>

  <div id="votingArea" style="width:900px;background-color:#DDDDDD;">
    <table id="votingTable" style="margin:5px;width:890px">
      <tr>
        <td align="left"><a href="${voteForLeftSongUrl}">I like this song better</a></td>
        <td align="center"><a href="${bothSongsAreAwfulUrl}">Both songs are awful</a></td>
        <td align="right"><a href="${voteForRightSongUrl}">I like this song better</a></td>
      </tr>
    </table>
  </div>

</div>

</body>

${Common/pageFooter}
