<form name="loginForm" action="startpageNew.php" method="POST">
  <input type="hidden" name="action" value="login" />
  <input type="text" name="user" value="" />
  <input type="password" name="password" />
  <input type="submit" value="Sign in" />
</form>
- or -<br />
<a href="fb.php">Login via Facebook</a><br />
<br />

<!--<p><fb:login-button perms="email" autologoutlink="true"></fb:login-button></p>
<p><fb:like></fb:like></p>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '${facebookAppId}', status: true, cookie: true, xfbml: true});
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>-->
