<body>
<script type="text/javascript">
$(document).ready(function(){
    $('form').submit(function (e) {
        e.preventDefault();
        var formData = $('form').serialize();
        $.ajax({
            url: 'sendMessage.php',
            context: document.body,
            data: formData,
            success: function(msg){
                if(msg == 'Your message has been sent.'){
                    alert( msg );
                    parent.$.fancybox.close();
                } else {
                    $('.statusMessage').append(msg);
                }
            }
        });
    });

});
</script>
    <h1>Message to ${recipientUserName}:</h1>
    <br/>
    <p class="statusMessage"></p>
    ${SendMessage/sendMessageForm}
    
    <div class="sendMessageFormLine">
        <div class="sendMessageFormLabel">&nbsp;</div>
        <div class="sendMessageFormInput">
            <p style="font-size: 11px;">
                <br />
                ${recipientUserName} will be able to directly reply to your email address. 
                Therefore by sending this message you agree to disclose your email adress to this user.
            </p>
        </div>
        <div class="clear"></div>
    </div>
    
</body>

