<form name="sendMessageForm" action="sendMessage.php" method="POST">
    <input type="hidden" name="action" value="send">
    <input type="hidden" name="raid" value="${recipientUserId}">


    <div class="sendMessageFormLine">
        <div class="sendMessageFormLabel">
            Subject:
        </div>
        <div class="sendMessageFormInput">
            <input type="text" name="subject" maxlength="255" size="60">
        </div>
        <div class="clear"></div>
    </div>


    <div class="sendMessageFormLine">
        <div class="sendMessageFormLabel">
            Text:
        </div>
        <div class="sendMessageFormInput">
            <textarea name="text" rows="3" cols="70"></textarea>
        </div>
        <div class="clear"></div>
    </div>


    <div class="sendMessageFormLine">
        <div class="sendMessageFormLabel">
            &nbsp;
        </div>
        <div class="sendMessageFormInput">
            <input type="submit" value="Send" class="button-small blue">
        </div>
        <div class="clear"></div>
    </div>

</form>
