${Common/pageHeader}

<body>

${Common/bodyHeader}

<div id="pageContent">
    <div class="container">


    <div class="span-24 last pageTitleBig">
        <h1>Find Music</h1>
    </div>

    <div class="span-24 last">

        <div class="span-12">
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
                no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, 
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et 
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem 
                ipsum dolor sit amet.
            </p>
        </div>
   
        <div class="span-12 last">
            <p>Illustration or so</p>
        </div>

    </div>

    <div class="span-24 last">
        <div class="span-12">
            <object width="494" height="320">
                <param  name="movie" 
                        value="http://www.youtube.com/v/PY2jW56o1Zo&amp;hl=en_US&amp;fs=1&amp;" />
                <param name="allowFullScreen" value="true" />
                <param name="allowscriptaccess" value="always" />
                <embed src="http://www.youtube.com/v/PY2jW56o1Zo&amp;hl=en_US&amp;fs=1&amp;" 
                           type="application/x-shockwave-flash"
                           allowscriptaccess="always" 
                           allowfullscreen="true" 
                           width="494" 
                           height="320" />
            </object>
        </div>
        <div class="span-12 last">
            <a href="#" class="button blue">Start a project now</a><br /><br />
            <a href="#" class="button blue">Complete your Profile</a><br /><br />
            <a href="#" class="button blue">Taste test our communities works</a><br /><br />
            <a href="#" class="button blue">Find Artists</a><br /><br />
            <a href="#" class="button blue">Start your first Project</a><br /><br />
            <a href="#" class="button blue">New CfA Button Template</a><br /><br />
            (Buttons -> https://oneloudr.podio.com/oneloudr/item/1802832)
        </div>
    
    </div>
    
    </div>
</div>

${Common/bodyFooter}

</body>

${Common/pageFooter}
