/* button 
---------------------------------------------- */
.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 16px/100% Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: .3em 1em .35em;
    text-shadow: 0 0px 0px rgba(0,0,0,.9);
    -webkit-border-radius: 0.4em; 
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
.button-medium {
    font-size: 14px;
    padding: .4em 1.5em .42em;
}
.button-small {
    cursor: pointer;
    font-size: 11px;
    padding: .2em 1em .275em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
}

.button-big {
    cursor: pointer;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    font-size: 24px;
    padding: 15px 25px 15px 25px;
}

/* color styles 
---------------------------------------------- */


/* grey */
.grey {
    color: #333 !important;
    border: solid 1px #ccc;
    background: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    background: -moz-linear-gradient(top,  #fff,  #ccc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#ccc');
    text-decoration: none !important;
}
.grey:hover {
    background: #d0d0d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
    background: -moz-linear-gradient(top,  #ccc,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#fff');
}
.grey:active {
    color: #afafaf;
}

/* orange */
.orange {
    color: #fff !important;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* blue */
.blue {
    color: #d9eef7 !important;
    border: solid 1px #0076a3;
    background: #0095cd;
}
.blue:hover {
    background: #007ead !important;
}
.blue:active {
    color: #80bed6 !important;
}

.blue-no {
    cursor: default !important;
    color: #d9eef7 !important;
    border: solid 1px #0076a3;
    background: #0095cd;
}


/* purple */
.purple {
    color: #ffffff !important;
    border: solid 0px #62487C;
    background: #8270A4;
    text-shadow: #8270A4 3px 3px 5px;
}
.purple:hover {
    background: #62487C;
    color: #ffffff !important;
    text-decoration: none;
}
.purple:active {
    color: #ffffff !important;
    text-decoration: none;
}



