/* !ONELOUDR.COM */
/* ---------------------------------------------------------------------- */
/*
    Hanno Jonas - www.rastaduck.org
    Roland Kainbacher MA - www.beautyparlour.at
*/
/* !generalStyles */
/* ---------------------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Sans-Serif;
	font-size: 14px;
    color: #444444;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
}

p {
    font-family: Arial, Arial, sans;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

h1 {
    color: #444444;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    text-transform: uppercase;
}

h2 {
    color: #444444;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

h3 {
    color: #444444;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
}

h4 {
    color: #444444;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 0px;
}

a {
    color: #4BA8E0;
}

a:link,
a:visited {
	/* color: #ffd321; */
	color: #4BA8E0;
	text-decoration:none;
	outline: none;
}

a:active  {
	color: #666666;
	text-decoration:none;
	outline: none;
}

a:hover   {
	color: #4BA8E0;
	text-decoration: underline;
	outline: none;
}

a :active {
  outline: none;
}

img {
    border: 0px;
}

input {
    border: 1px solid #ddd;
    color: #999;
    font-size: 12px;
    padding: 5px;
}

textarea {
    border: 1px solid #ddd;
    color: #999;
    font-family: Arial, sans-seriv;
    font-size: 12px;
    padding: 5px;
}

.clear {
    clear: both;
}

.small {
    color: #999;
}

.prealoader {
    display: none;
}

.weblink {
    width: 200px;
    overflow-x: hidden;
}

.weblink a {
    display: block;
}

.weblink img {
    margin-right: 5px;
}

.weblinkText {
    margin-top: -5px;
}

.blue {
    color: #4BA8E0;
}

.miniFont {
    color: #999999;
    font-size: 9px;
    line-height: 11px;
}


/* !tooltip */
/* ---------------------------------------------------------------------- */

.toolTipWrapper {
    position: relative;
}

.toolTip {
    cursor: pointer;
    height: 16px;
    width: 20px;
}

.toolTipContent {
    background-color: #f2f2f2;
    font-size: 11px;
    position: absolute;
    top: 0;
    left: 20px;
    line-height: 13px;
    z-index: 3;
    display: none;
    width: 230px;
    height: auto;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 6px;
}


/* !box */
/* ---------------------------------------------------------------------- */

.box-yellow {
    background-color: #FFFAE6;
    border: 3px solid #FFD321;
    padding: 18px;
    margin-bottom: 18px;
}

.box-grey {
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    display: inline-block;
    padding: 18px;
    margin-bottom: 18px;
}

.box-blue {
    background-color: #eef9ff;
    border: 3px solid #4BA8E0;
    padding: 18px;
    margin-bottom: 18px;
}

.box-green {
    background-color:#E6EFC2;
    border: 3px solid #C6D880;
    padding: 18px;
    margin-bottom: 18px;
}


/* ! tabs */
/* ---------------------------------------------------------------------- */

.tabs {
    border-bottom: 2px solid #4BA8E0;
    list-style: none;
    list-style-type: none;
    padding: 0px;
    padding-left: 0px;
    margin: 0px;
    margin-bottom: 24px;
    height: 30px;
}

.tabsItem {
    background-color: #f9f9f9;
    float: left;
    border: 1px solid #ccc;
    border-bottom-width: 0;
    margin: 0;
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 2px;

    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

.tabsItem a {
    color: #999;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.tabsAct {
    /*color: #4BA8E0;*/
    color: #4BA8E0 !important;
}

.tabcontent-1 { display: none; }
.tabcontent-2 { display: none; }
.tabcontent-3 { display: none; }
.tabcontent-4 { display: none; }
.tabcontent-5 { display: none; }

.tabcontentAct { display: block !important; }

/* ! forms */
/* ---------------------------------------------------------------------- */

.formElement {
    margin-bottom: 10px;
}






/* !bodyWrapper */
/* ---------------------------------------------------------------------- */

#bodyWrapperStart {
	width: 100%;
	height: 100%;
}

#bodyWrapper {
	width: 100%;
	height: 100%;
}


/* ! */
/* ---------------------------------------------------------------------- */

a.nohighlight:hover {
    color: #444444;
    text-decoration:none;
    font-weight:bold;
}

.standardRow1 td {
    border-bottom: 1px dotted #cccccc;
}

.standardRow2 td {
    border-bottom: 1px dotted #cccccc;
}

.highlightedRow td {
    border-bottom: 1px dotted #cccccc;
}

.highlightedRow {
    background-color: #eeeeee;
}

.smallText {
    font-size: 10px;
}

.headline {
    font-size: 26px;
    font-weight: bold;
}

.subheadline {
    font-size: 16px;
    font-weight: bold;
}

.subsubheadline {
    font-size: 11px;
    font-weight: bold;
}

.loginFormTable {
    border-collapse: separate;
    border-spacing: 1px;
    margin: 0px;
}

.userFormTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    margin: 0px;
}

.userFormTable td {
    padding: 5px;
}

.trackFormTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    margin: 0px;
}

.trackFormTable td {
    padding: 5px;
}

.trackGridElt {
    width: 100px;
    height: 100px;
    vertical-align: top;
    background-color: #6C6C6E;
    padding: 2px;
    position: relative;
}

.emptyTrackGridElt {
    width: 100px;
    height: 100px;
    vertical-align: top;
    text-align: center;
    padding: 7px;
    position: relative;
    background-color: transparent;
}

.cursorHand {
    cursor: pointer;
    cursor: hand;
}

.trackGridElt .tlContainer {
    position: relative;
    width: 100px;
    height: 100px;
}

.trackGridElt .tlUserImg {
    z-index: 0;
    position: absolute;
    text-align: center;
    width: 100px;
    height: 100px;
}

.trackGridElt .tlOverlayText {
    width: 100px;
    background: url(../Images/gray_bg_transp_1px.png) repeat;
    z-index: 10;
    position: absolute;
    bottom: 0px;
    font-size: 10px;
    color: #FFFFFF;
    padding: 0px;
}

.trackGridElt .tlOverlayText .tlotUser {
    text-align: center;
    font-size: 10px;
    width: 100px;
}

.trackGridElt .tlOverlayText .tlotTrack {
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    width: 100px;
}

.trackGridTable {
    /* width: 500px; */
    border-collapse: separate;
    border-spacing: 4px;
    /* margin: 5px; */
    table-layout: fixed;
}

.trackDetailsTable {
    width: 480px;
    border-collapse: separate;
    border-spacing: 0px;
    margin-left: 20px;
}

.trackDetailsTable td {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.trackListTable {
    width: 600px;
    border-collapse: separate;
    border-spacing: 0px;
}

.trackListTable td {
    padding-left: 2px;
    padding-right: 2px;
}

.trackFilesTable {
    width: 600px;
    border-collapse: separate;
    border-spacing: 0px;
}

.trackFilesTable td {
    padding-left: 2px;
    padding-right: 2px;
}

.tableHeading {
    border-bottom: 1px dotted #cccccc;
}

.formLeftCol {
    text-align: left;
    width: 160px;
}

.formMiddleCol {
    text-align: left;
}

.mandatoryFormField {
    /*border: 1px solid #663333;*/
}

.optionalFormField {
    /*border: 1px solid #337733;*/
}

.inputTextField {
    /*padding: 2px;*/
}

.inputTextFieldWithProblem {
    /*padding: 2px;*/
    background-color: #FFAA88;
}

.inputFileField {
    /*padding: 2px;*/
}

.inputFileFieldWithProblem {
    /*padding: 2px;
    background-color: #FFAA88;*/
}

.formFieldWithProblem {
    font-weight: bold;
    color: #4BA8E0
}

.noticeMessage {
    font-weight: bold;
    color: #222222;
}

.problemMessage {
    font-weight: bold;
    color: #4BA8E0
}

.submitButton {
    color: #666666;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
}

.submitButtonSmall {
    background-image: url(../Images/login_button.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    color: #666666;
    cursor: pointer;
    font-size: 10px;
    font-weight: normal;
    line-height: normal;
    height: 18px;
    width: 80px;
}

.smallWhite {
    font-size: 9px;
    font-weight: bold;
    color: #FFFFFF;
}

#paginationWrapper {
	height: 42px;
	width: 310px;
	padding-top: 10px;
}

#pagination {
}

#spacer {
    height: 154px;
}

#podperfect_headline {
    height: 60px;
    width: 260px;
    text-align: center;
}

#selection {
    background: #90979E url(../Images/header_bg.jpg) repeat-x;
    border: 2px #222222 solid;
    width: 260px;
    height: 160px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

#selection_list {
    font-weight: bold;
    text-align: left;
    width: 250px;
}

/* !start */
/* ---------------------------------------------------------------------- */

#pageHeaderWrapper {
    background-color: #333;
    width: 100%;
}

#pageHeader {
    width: 998px;
    height: 40px;
    margin: 0px auto;
    position: relative;
}

#logo {
    /* background: url(../Images/logo_01.png);	 */
    color: #ffffff;
    font-size: 18px;
    float: left;
    width: 170px;
    height: 26px;
    margin-top: 0px;
    cursor: pointer;
}

#logo a {
    color: #fff;
    text-decoration: none;
}

/* !loginbox */
/* ---------------------------------------------------------------------- */

#loginWrapper {
	float: right;
	width: 650px;
}

#signUpTeaser {
    display: none;
    position: absolute;
    top: 19px;
    left: 450px;
}

#loginStatusDiv {
	color: #cccccc;
	float: right;
	height: 36px;
    position: relative;
	text-align: center;
}

.topMenuItem {
	float: left;
	height: 36px;
	margin-left: 1px;
}

.topMenuItemSearch {
	float: left;
	width: 180px;
	height: 36px;
	margin-left: 1px;
}

.topMenuItem a {
    color: #cccccc;
	display: block;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	height: 26px;
	text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 1px;
}

.topMenuItem a:hover {
    background-color: #444;
}

.topMenuSub {
	/* background-color: #333333; */
	/* background-color: #0078a5; */
	background-color: #333;
	display: none;
	padding-bottom: 3px;
	padding-top: 1px;
	position: absolute;
	text-align: left;
	width: 140px;

    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;

    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

.topMenuSubLogin {
    width: 260px;
}

.topMenuSubItem {
    border-top: 1px solid #444;
    margin-left: 0px;
    margin-right: 0px;
}

.topMenuSubItem a {
    height: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.topMenuSubLoginItem {
    padding: 10px;
}

.topMenuLoginWrapper {
    margin-bottom: 5px;
}

.topMenuLoginLabel {
    float: left;
    width: 100px;
}

.topMenuLoginInput {
    float: left;
    width: 130px;
}


#loginStatusDiv a {
    color: #ffffff;
    font-size: 12px;
}

#loginStatusDiv a:hover {
    color: #ffffff
}

#loginFormDiv {
	background-color: #b1b3b4;
	height: 107px;
}

#loginErrorMsgDiv {
    position: absolute;
    top: 100px;
}

.topMenuSub input {
    color: #444444;
    font-size: 12px;
    padding: 4px;
    width: 120px;
}

.loginFormLabel {
    color: #cccccc;
    font-size: 12px;
}

#loginUsername {
    background-color: #ffffff;
    border: 0px;
    margin-bottom: 2px;
    padding: 2px;
}

#loginPassword {
    background-color: #ffffff;
    border: 0px;
    margin-bottom: 4px;
    padding: 2px;
}


/* !mainMenu */
/* ---------------------------------------------------------------------- */

#mainMenuWrapper {
    background: #f3f3f3;
    background-color: #62487C;
    border-top: 1px solid #8270A4;
	height: 80px;
}

#mainMenu {
	width: 998px;
	margin-left: auto;
	margin-right: auto;
}

#mainMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#mainMenu li {
    background-image: url(../Images/menu-spacer.png);
    background-position: right center;
    background-repeat: no-repeat;
	float: left;
	text-align: center;
	width: 80px;
}

#mainMenu a {
	display: block;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	height: 65px;
	padding-left: 0px;
	padding-top: 15px;
	text-decoration: none;
	text-shadow: #2a4301 0px 1px 1px;
    text-align: center;
}

#mainMenu a:hover {
    background-image: url(../Images/menu-arrow.png) !important;
    background-repeat: no-repeat;
    background-position: center bottom;
	color: #4BA8E0;
}

.mainMenuItemAct a {
    background-image: url(../Images/menu-arrow.png) !important;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.mainMenuIcon {
    display: block;
    height: 30px;
    margin-bottom: 6px;
    margin-left: 20px;
    width: 40px;
}

#pageContent {
    margin-top: 54px;
    min-height: 600px;
}

/* !contentTop */
/* ---------------------------------------------------------------------- */

#contentTop {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
    width: 998px;
}

.contentTopInner {}

.contentTopEntry {
    float: left;
    margin-right: 500px;
    width: 998px;
}

#trackGridWrapper {
	float: left;
	width: 630px;
	height: 522px;
}

#chosenTrackDetailsContainer {
    background-color: #f9f9f9;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    width: 490px;
    height: 425px;
    float: left;
}

#chosenTrackDetails {
    padding: 10px;
}

#trackGrid {
    width: 436px;
    height: 436px;
}

#trackGridHeadlineContainer {
    width: 497px;
    height: 42px;
}

#trackGridHeadline {
    float: left;
    height: 22px;
    margin-right: 16px;
    margin-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
}

#trackGridHeadlineControls {
    float: left;
    height: 22px;
    margin-right: 16px;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
}

#trackGridHeadlineControls a {
    background: #444444;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    font-size: 11px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    position: relative;

    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

#trackGridHeadlineControls a:hover {
    background: #222222;
    color: #cccccc;
}

#chosenTrackHeadlineContainer {
    width: 497px;
    float: left;
    margin-bottom: 5px;
}

#chosenTrackHeadline {
    font-size: 20px;
    font-weight: normal;
    float: left;
    margin-top: 30px;
    padding-left: 10px;
    width: 250px;
}

#widget {
    float: left;
    margin-left: 10px;
    margin-top: 54px;
    padding: 5px;
    width: 290px;
    height: 400px;
}

#widget #inner {
}

#userInfoWidget {
    margin-bottom: 10px;
}

/* !contentTop Startpage */
/* ---------------------------------------------------------------------- */

#contentTopStart {
    height: 522px;
    left: 0px;
    overflow: hidden;
}

.contentTopStartOuter {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 998px;
}

.contentTopStartInner {
    left: 0px;
    position: absolute;
    width: 8000px;
}

#startpagePaginatorWrapper {
    margin-top: 35px;
}

#startpagePaginatorWrapper ul {
    list-style: none;
}

#startpagePaginatorWrapper li {
    float: left;
}

#startpagePaginatorWrapper a {
    display: block;
    height: 70px;
    margin-right: 20px;
    width: 70px;
}


#startpagePaginatorBack a {
    background-image: url(../Images/paginator/paginator_back.png);
}

#startpagePaginatorBack a:hover {
    background-image: url(../Images/paginator/paginator_back_hover.png);
}

#startpagePaginatorBackAct a {
    background-image: url(../Images/paginator/paginator_back_hover.png);
}

#startpagePaginator1 a {
    background-image: url(../Images/paginator/paginator_01.png);
}

#startpagePaginator1 a:hover {
    background-image: url(../Images/paginator/paginator_01_hover.png);
}

#startpagePaginator1Act a {
    background-image: url(../Images/paginator/paginator_01_hover.png);
}

#startpagePaginator2 a {
    background-image: url(../Images/paginator/paginator_02.png);
}

#startpagePaginator2 a:hover {
    background-image: url(../Images/paginator/paginator_02_hover.png);
}

#startpagePaginator2Act a {
    background-image: url(../Images/paginator/paginator_02_hover.png);
}

#startpagePaginator3 a {
    background-image: url(../Images/paginator/paginator_03.png);
}

#startpagePaginator3 a:hover {
    background-image: url(../Images/paginator/paginator_03_hover.png);
}

#startpagePaginator3Act a {
    background-image: url(../Images/paginator/paginator_03_hover.png);
}


/* !userProfil Form */
/* ---------------------------------------------------------------------- */


#userFormDiv {
    background-color: #f9f9f9;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    width: 998px;
    min-height: 500px;
}

#userFormDiv #container {
    padding-left: 10px;
    padding-right: 10px;
}

/* ! */
/* ---------------------------------------------------------------------- */

#trackFormDiv {
    background-color: #f9f9f9;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    min-height: 500px;
}


#trackFormDiv #container {
    padding-left: 10px;
    padding-right: 10px;
}

/* ! */
/* ---------------------------------------------------------------------- */

#pageMainContentWrapper {
	background-color: #ffffff;
	width: 100%;
}

#pageMainContent {
    width: 998px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 72px;
    padding-bottom: 36px;
    text-align: left;
    /* font-size: 11px; */
}

#mainColumnLeft {
	float: left;
	width: 630px;
}

#mainColumnRight {
	float: left;
	margin-left: 10px;
	width: 310px;
}


/* !footer */
/* ---------------------------------------------------------------------- */

#footerWrapper {
	/* background-color: #333333; */
    background-color: #EEE;
    border-top: 3px solid #E9E9E9;
}

#footer {
    color: #aaa;
    padding-top: 30px;
}

#footer p {
    color: #aaa;
    font-weight: 14px;
}

#footer h3 {
    color: #aaa;
}

.footerMenu {
    list-style-image: url(../Images/footer_arrow.png);
    margin-top: 18px;
    margin-left: 10px;
}

.footerMenu li {
    padding-right: 20px;
    border-bottom: 1px dotted #aaa;
}

.footerMenu a {
    color: #aaa;
    display: block;
    text-decoration: none;
}

.footerMenu a:hover {
    color: #4BA8E0;
}

.footerSocialmedia {
    height: 40px;
    list-style: none;
    margin-left: 10px;
}

.footerSocialmedia li {
    float: left;
    margin-right: 10px;
    width: 32px;
}


/* !news */
/* ---------------------------------------------------------------------- */

#news {
}

#newsDiv {
    background-color: #f9f9f9;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    width: 630px;
    min-height: 50px;
}

#newsDiv #container {
    padding-left: 0px;
    padding-right: 0px;
}

.newsEntry {
	border-bottom: 3px solid #ddd;
    padding-bottom: 30px;
}

.newsSpacer {
	height: 18px;
}

.newsDate {
    font-size: 13px;
}


/* !sidebar */
/* ---------------------------------------------------------------------- */

#icons {
}

#iconsDiv {
    background-color: #FFFAE6;
    border-bottom: 1px solid #ffd321;
    border-top: 1px solid #ffd321;
    width: 310px;
    min-height: 50px;
}

#iconsDiv #container {
    padding-left: 10px;
    padding-right: 10px;
}

#userInfoContainer {
	float: left;
	width: 998px;
}

.sidebarIcons {
    margin-left: 50px;
    padding: 10px;
}

/* ! */
/* ---------------------------------------------------------------------- */

#userInfoDiv {
    background-color: #f9f9f9;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    width: 998px;
    min-height: 400px;
}

#userInfoDiv #container {
    padding-left: 10px;
    padding-right: 10px;
}

#aiTrackInfo {
    width: 998px;
}

/* !tracklist */
/* ---------------------------------------------------------------------- */

#trackListDiv {
    background-color: #f9f9f9;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    min-height: 500px;
}


.trackList {
    border-top: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 36px;
}

.trackListItem {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    padding-top: 5px;
}

.trackListItemHover {
    background-color: #eef9ff;
}

.trackListButton {
    height: 16px;
    width: 16px;
    display: block;
    float: right;
    margin-left: 10px;
    margin-top: 3px;
}

.trackListPlay {
    background-image: url(../Images/icons/control_play.png);
}

.trackListPlay:hover {
    background-image: url(../Images/icons/control_play_blue.png);
    text-decoration: none;
}

.trackListStar {
    background-image: url(../Images/icons/star-grey.png);
}

.trackListStar:hover {
    background-image: url(../Images/icons/star.png);
    text-decoration: none;
}


/* !fanList */
/* ---------------------------------------------------------------------- */

.fanList {
    border-top: 1px solid #ccc;
    list-style-type: none;
    margin-left: 0px;
}

.fanList li {
    border-bottom: 1px solid #ccc;
}

/* ! */
/* ---------------------------------------------------------------------- */

#trackListDiv #container {
    padding-left: 10px;
    padding-right: 10px;
}

#standardInfoDiv {
    background-color: #f9f9f9;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    min-height: 500px;
}

#standardInfoDiv #container {
    padding-left: 10px;
    padding-right: 10px;
}

#userFormPlusImage {
    position: relative;
}

#trackFormPlusImage {
    position: relative;
}

#trackFormTrackImage {
    clear: both;
    position: absolute;
    top: 0px;
    left: 680px;
}


/* !artist.php */
/* ---------------------------------------------------------------------- */

#trackInfoWrapper {
	margin-top: 18px;
}

.trackInfoColumn {
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	float: left;
	width: 278px;
	margin-right: 10px;
	padding: 16px;
}

.last {
	margin-right: 0px;
}

.trackInfoTitle {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 16px;
}

/* !horizontalMenu */
/* ---------------------------------------------------------------------- */

.horizontalMenu {
    background-color: #ffffff;

    /* Mozilla: */
    background: -moz-linear-gradient(top, #ffffff, #e1e1e1);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#ffffff), to(#e1e1e1));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#ffffff', EndColorStr='#e1e1e1', GradientType=0);


	border: 1px solid #cccccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    height: 36px;
    margin-bottom: 18px;
}

.horizontalMenu ul {
    list-style: none;
    margin-left: 8px;
}

.horizontalMenu li {
    background-image: url(../Images/breadcrumb_arrow.png);
    background-position: right;
    background-repeat: no-repeat;
    float: left;
    height: 36px;
    padding-right: 18px;
}

.horizontalMenu a {
    color: #4BA8E0;
    font-size: 13px;
    display: block;
    padding-left: 10px;
    padding-top: 10px;
}


/* !startpage */
/* ---------------------------------------------------------------------- */

#startpageLeftColumn {
    float: left;
    width: 514px;
}

#startpageRightColumn {
    float: left;
    margin-left: 36px;
    width: 400px;
}

#startpageContent {
    margin-top: 60px;
}

#startpageContent h1 {
    font-size: 40px;
    line-height: 26px;
    color: #222;
}

#startpageContent h2 {
    font-size: 18px;
    line-height: 26px;
    color: #444444;
}

#startpageContent p {
    font-size: 14px;
}

.startpageContentStepText {
    height: 300px;
}

#startpageButtonsWrapper {
    margin-top: 35px;
}

#startpageButtonTour {
    float: left;
    margin-left: 10px;
}

/*
#startpageButtonTour a {
    background-image: url(../Images/button_tour.png);
    background-repeat: no-repeat;
    display: block;
    height: 55px;
    width: 230px;
}

#startpageButtonTour a:hover {
    background-image: url(../Images/button_tour_hover.png);
    background-repeat: no-repeat;
}
*/

#startpageButtonStart {
    float: left;
}

/*
#startpageButtonStart a {
    background-image: url(../Images/button_start.png);
    background-repeat: no-repeat;
    display: block;
    height: 55px;
    width: 230px;
}

#startpageButtonStart a:hover {
    background-image: url(../Images/button_start_hover.png);
    background-repeat: no-repeat;
}
*/

#startpageImage {
    margin-top: 26px;
}

.startpageMainContentWrapper p {;
}


#startColumnLeft {
	float: left;
	width: 310px;
}

#startColumnMiddle {
	float: left;
    margin-left: 10px;
	width: 310px;
}

#startColumnRight {
	float: left;
	margin-left: 10px;
	width: 310px;
}


/* !search */
/* ---------------------------------------------------------------------- */

#searchWrapper {
    background-color: #f9f9f9;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin-bottom: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.searchDetails {
    padding-left: 10px;
    padding-right: 10px;
}

/* !search top */

.topSearch {
    background-color: #444;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    height: 16px;
    margin: 5px;
    margin-top: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

#topSearchInput {
    background-color: #444;
    border: 0px;
    color: #ccc;
    float: left;
    font-size: 10px;
    padding: 0px;
    padding-top: 2px;
    width: 130px;
    outline: none;
}

#topSearchSubmit {
    background-color: #444;
    background-image: url(../Images/search.png);
    background-repeat: no-repeat;
    float: right;
    border: 0px;
    height: 16px;
    width: 16px;
}

.searchAttributes {
    width: 100%;
}

.searchAttributes td {
    width: 143px;
}

/* !artist.php Page */
/* ---------------------------------------------------------------------- */

#userInfoLeft {
    float: left;
    margin-top: 10px;
    width: 200px;
}

#userInfoMiddle {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 410px;
}

#userInfoRight {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 300px;
}

/* !sendMessage */
#sendMessageOverlay {
    background-image: url(../Images/bg_overlay.png);
    background-repeat: repeat;
    display: none;
    height: 5000px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 5000px;
    z-index: 100;
}

#sendMessageWrapper {
    background-color: #ffffff;
    border: 5px solid #cccccc;
    height: 300px;
    position: absolute;
    width: 500px;
}


/* !uploadMusicButton */
/* ---------------------------------------------------------------------- */

#uploadMusicButton {
    background-image: url(../Images/btn_upload_music.png);
    background-repeat: no-repeat;
    display: block;
    font-size: 15px;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    width: 180px;
}




/* !makeAnOffer */
/* ---------------------------------------------------------------------- */

.makeAnOfferWrapper {
    border-top: 1px dotted #cccccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.makeAnOfferLeft {
    float: left;
    margin-left: 20px;
    width: 250px;
}

.makeAnOfferRight {
    float: left;
    width: 320px;
}

.makeAnOfferInfo {
    float: left;
    width: 250px;
}

.makeAnOfferBroad {
    float: left;
    width: 820px;
    margin-left: 20px;
}

/* ! priceChart */
/* ---------------------------------------------------------------------- */

#priceChart {

}

#priceChart th,
#priceChart td {
    border-right: 1px solid white;
}

.table-col-0 {
    text-align: center;
}

#priceChart .even .table-col-0 {
    background-color: #CBE1AB;
}

#priceChart .odd .table-col-0 {
    background-color: #E4F0D5;
}

.table-col-1 {
    text-align: center;
}

#priceChart .even .table-col-1 {
    background-color: #d3e5f1;
}

#priceChart .odd .table-col-1 {
    background-color: #EEF9FF;
}


/* !dashboard */
/* ---------------------------------------------------------------------- */

.dashboardList {
    display: inline-block;
    padding: 0px;
    list-style-type: none;
    margin: 0px;
}

.dashboardList li {
    float: left;
    height: 160px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
}

.dashboardList a {
    background-color: #F9F9F9;
    border: 3px solid #EEE;
    display: block;
    height: 160px;
    text-align: center;
}

.dashboardList a:hover {
    background-color: #EEF9FF;
}

.dashboardList img {
    margin-top: 30px;
}

/* !termsandconditions */
/* ---------------------------------------------------------------------- */
.termsContent ol {
    list-style-type: decimal;
}
.termsContent li {
    margin-bottom: 18px;
}


/* !popup */
/* ---------------------------------------------------------------------- */

#popupWrapper {
    position: absolute;
}

#popupInner {}

/* !recommendedList */
/* ---------------------------------------------------------------------- */

.recommendedList {
    border-top: 1px solid #ccc;
    display: inline-block;
    list-style: none;
    list-style-type: none;
    margin-bottom: 30px;
    margin-top: 30px;
}

.recommendedList li {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
}

.recommendedList li img {
    padding-left: 10px;
}

.recommendedListName {
    margin-top: 8px;
}

.recommendedListButton {
    margin-top: 18px;
}







