${Common/pageHeader}

<script type="text/javascript">

// currently hidden, but maybe a candidate for pro users
//function visibilityHasChanged(elt) {
//    if (document.getElementById('associated_users_row')) {
//        var sel = elt.options[elt.selectedIndex].value;
//        if (sel == 'private') {
//            document.getElementById('associated_users_row').style.display = '';
//        } else {
//            document.getElementById('associated_users_row').style.display = 'none';
//        }
//    }
//}

function showSelectFriendsPopup() {
    window.open('selectFriends.php?tid=${projectId}', 'NT_SELECT_FRIENDS', 'scrollbars=yes,resizable=yes,status=0,width=400,height=600');
}

$(document).ready(function () {
    /* !invite */
    /* ---------------------------------------------------------------------- */
    $("input[rel=invite]").click(function(e) {
        e.preventDefault();
        alert('invite User Function');
    });

    $("input[rel=search_name]").click(function(e){
        e.preventDefault();
        alert('search for '+$('#search_name').val()+' Function');
    });


});

</script>
<script type="text/javascript" src="../Javascripts/jquery.textareaMaxlength.js"></script>

<body>

${Common/bodyHeader}


<div id="pageContent" class="container">


            <div class="span-24 last">
                <ul class="tabs">
                    <li class="tabsItem"><a href="#" class="tab-1${tabsAct_basics}">Basics</a></li>
                    <li class="tabsItem"><a href="#" class="tab-2${tabsAct_invite}">Invite</a></li>
                    <li class="tabsItem"><a href="#" class="tab-3${tabsAct_upload}">Upload</a></li>
                    <li class="tabsItem"><a href="#" class="tab-4${tabsAct_publish}">Publish</a></li>
                </ul>
            </div>

            <div class="span-24 last tabcontent-1${tabcontentAct_basics}">
                <div class="span-16 last">
                    <div class="box-grey">
                        <h2>Basic Project Information</h2>
                        <br />
                        ${Common/message_choice_list}
                        <form name="projectForm" action="${formAction}" method="POST" style="display:inline-block;">
                            <input type="hidden" name="action" value="save">
                            <input type="hidden" name="pid" value="${projectId}">
                            <!--<input type="hidden" name="type" value="${type}">this was dropped-->
                            <input type="hidden" name="projectSubGenresList" id="projectSubGenresList" value="">
                            <input type="hidden" name="projectMoodsList" id="projectMoodsList" value="">
                            <input type="hidden" name="projectAttributesList" id="projectAttributesList" value="">
                            ${Common/formElement_list}

                            <div class="prepend-6 span-6 last">
                                <input class="button blue"
                                    type="submit"
                                    value="${submitButtonValue}"
                                    onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="span-24 last tabcontent-2${tabcontentAct_invite}">
                <div class="span-16">
                    <div class="box-grey">

                            <h2>Recommended Artists</h2>

                            <ul class="recommendedList">
                                ${recommendedArtistElement_list}
                            </ul>

                    </div>
                </div>
                <div class="span-8 last">
                    <div class="box-grey">

                        <h2>Invite a Friend:</h2>
                        <input type="text" id="title" name="title" value="E-Mail" maxlength="255">
                        <input class="button-small blue"
                            type="submit"
                            value="send">

                        <br />
                        <br />
                        <br />

                        <h2>Search an Artist:</h2>
                        <input type="text" id="search_name" name="search_name" value="Artist Name" maxlength="255">

                        <input class="button-small blue"
                            type="submit"
                            rel="search_name"
                            value="search">


                    </div>
                </div>
            </div>

            <div class="span-24 last tabcontent-3${tabcontentAct_upload}">
                <div class="span-16">
                    <div class="box-grey">
                        <h2>${projectTitle}</h2>
                        <p>
                            Genres: ${projectGenres}<br />
                            <br />
                            Moods: ${projectMoods}<br />
                            <br />
                            Project needs: ${projectNeeds}<br />
                            <br />
                            ${projectAdditionalInfo}
                        </p>
                        <br />

                        ${Project/uploadedFilesSection}

                    </div>
                </div>

                <div class="span-8 last">
                    <div class="box-grey">
                        <h2>${headline}</h2>
                        <br />

                        ...
                        <br />
                        &nbsp;
                    </div>
                </div>

            </div>



            <div class="span-24 last tabcontent-4${tabcontentAct_publish}">
                <div class="span-16">
                    <div class="box-grey">


                            <h2>Share</h2>
                            <br />
                            <p>List with Names</p>
                            <p>Aufteilung in %</p>

                            <h2>Opitons</h2>
                            <input type="checkbox" name="needsAttributIds" id="needsAttributIds" value="1"> iTunes<br />
                            <input type="checkbox" name="needsAttributIds" id="needsAttributIds" value="1"> sptify<br />
                            <input type="checkbox" name="needsAttributIds" id="needsAttributIds" value="1"> Soundcloud<br />

                            <br />
                            <br />

                            <div id="formElt_artist_info" class=" formElement span-15 last">
                                <div class="span-6">Artist/Band information:</div>
                                <div class="span-8">
                                    <textarea id="artist_info" name="artist_info" rows="3" cols="30"></textarea>
                                </div>
                                <div class="span-1 last"></div>
                            </div>



                            <div class="prepend-6 span-6 last">
                                <input class="button blue"
                                    type="submit"
                                    value="${submitButtonValue}">
                            </div>


                    </div>
                </div>
            </div>

            <br />
            <br />
            <br />
            <a href="projectList.php">&larr; back to project list</a>

</div>


${Common/bodyFooter}

</body>

<script type="text/javascript" src="../Javascripts/Snippets.js"></script>

<script type="text/javascript">

function checkDeleteResponseAndRefreshFileList(deleteWasOk, data) {
    if (deleteWasOk) {
        //document.projectForm.submit();
        refreshProjectFilesSection(data.projectId);
    } else {
        alert('File deletion failed: ' + data.error);
    }
}

function refreshProjectFilesSection(projectId) {
    $.ajax({
        type: 'GET',
        url: 'project.php',
        data: 'action=getProjectFilesHtml' +
              '&pid=' + projectId,
        dataType: 'html',
        cache: false,
        timeout: 15000, // 15 seconds
        async: false,
        error: function(xmlHttpRequest, textStatus, errorThrown) {
            alert('ERROR: ' + textStatus + ' - ' + errorThrown);
        },
        success: function(data, textStatus, dummy) {
            $('#projectFilesSection').html(data);
        }
    });
}

function openUploaderPopup(isMixFile) {
    window.open(
            '../Uploader/uploader.php?sf=0&pid=${projectId}&isMix=' + (isMixFile ? 1 : 0) + '&cs=${uploaderChecksum}',
            'ONELOUDR_UPLOADER',
            'scrollbars=0,status=0,width=640,height=350'
    );
}

function buildProjectAttributesAndSubGenresAndMoodsLists() {
    if ($('#attributes').val()) {
        var aList = $('#attributes').val().join(','); // create comma separated list string ...
        $('#projectAttributesList').val(aList); // ... and save the string in the hidden field
    }

    if ($('#subGenres').val()) {
        var gList = $('#subGenres').val().join(','); // create comma separated list string ...
        $('#projectSubGenresList').val(gList); // ... and save the string in the hidden field
    }

    if ($('#moods').val()) {
        var mList = $('#moods').val().join(','); // create comma separated list string ...
        $('#projectMoodsList').val(mList); // ... and save the string in the hidden field
    }
}

function buildProjectFileAttributesLists(pfId) {
    if ($('#fileAttributes_' + pfId).val()) {
        var aList = $('#fileAttributes_' + pfId).val().join(','); // create comma separated list string ...
        $('#projectFileAttributesList_' + pfId).val(aList); // ... and save the string in the hidden field
    }
}

function downloadSelectedStems() {
    if ($('input:checkbox[id=selectedStems]:checked').val()) {
        var idList = [];
        $('input:checkbox[id=selectedStems]:checked').each(function() {
            idList.push($(this).val());
        });

        openInNewWindow('project.php?action=downloadProjectFiles&pid=${projectId}&fileIds=' + idList);
    }
}

function openInNewWindow(href) {
    // Change "_blank" to something like "newWindow" to load all links in the same new window
    var newWindow = window.open(href, '_blank');
    newWindow.focus();
    return false;
}

// convert all select fields with special class to chosen thingies
$(".chzn-select").chosen();

</script>

${Common/pageFooter}
