${Common/pageHeader}

<script type="text/javascript">

// currently hidden, but maybe a candidate for pro users
//function visibilityHasChanged(elt) {
//    if (document.getElementById('associated_users_row')) {
//        var sel = elt.options[elt.selectedIndex].value;
//        if (sel == 'private') {
//            document.getElementById('associated_users_row').style.display = '';
//        } else {
//            document.getElementById('associated_users_row').style.display = 'none';
//        }
//    }
//}

function showSelectFriendsPopup() {
    window.open('selectFriends.php?tid=${projectId}', 'NT_SELECT_FRIENDS', 'scrollbars=yes,resizable=yes,status=0,width=400,height=600');
}

</script>

<body>

${Common/bodyHeader}


<div id="pageContent" class="container">


            <div class="span-24 last">
                <ul class="tabs">
                    <li class="tabsItem"><a href="#" class="tab-1 tabsAct">Basics</a></li>
                    <li class="tabsItem"><a href="#" class="tab-2">Invite</a></li>
                    <li class="tabsItem"><a href="#" class="tab-3">Upload</a></li>
                    <li class="tabsItem"><a href="#" class="tab-4">Publish</a></li>
                </ul>
            </div>

            <div class="span-24 last tabcontent-1 tabcontentAct">
                <div class="span-16 last">
                    <div class="box-grey">
                        <h2>Basic Project Information</h2>
                        <br />
                        <form name="projectForm" action="${formAction}" method="POST" style="display:inline-block;">
                            <input type="hidden" name="action" value="save">
                            <input type="hidden" name="pid" value="${projectId}">
                            <input type="hidden" name="type" value="${type}">
                            <input type="hidden" name="projectSubGenresList" id="projectSubGenresList" value="">
                            <input type="hidden" name="projectMoodsList" id="projectMoodsList" value="">
                            <input type="hidden" name="projectAttributesList" id="projectAttributesList" value="">
                            ${Common/formElement_list}
                
                            <div class="prepend-6 span-6 last">
                                <input class="button blue" 
                                    type="submit" 
                                    value="${submitButtonValue}" 
                                    onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            
            <div class="span-24 last tabcontent-2">
                <div class="span-16">
                    <div class="box-grey">
                            
                            <h2>Recommended Artists</h2>
                            <ul class="recommendedList">
                                <li class="trackListItem">
                                    <div class="span-3">
                                        <img src="../Images/testimages/profile-testimg-75x75.png" alt="profile-testimg-75x75" width="55" height="55" />
                                    </div>
                                    <div class="span-8">
                                        <div class="recommendedListName">
                                            <a href="#" title="Vorname Nachname">Vorname Nachname</a><br />
                                            Drums, Guitarr
                                        </div>
                                    </div>
                                    <div class="span-3 last">
                                        <div class="recommendedListButton">
                                            <input class="button-small grey" 
                                                type="submit" 
                                                value="Add" 
                                                onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">
                                        </div>
                                    </div>
                                </li>

                                <li class="trackListItem">
                                    <div class="span-3">
                                        <img src="../Images/testimages/profile-testimg-75x75.png" alt="profile-testimg-75x75" width="55" height="55" />
                                    </div>
                                    <div class="span-8">
                                        <div class="recommendedListName">
                                            <a href="#" title="Vorname Nachname">Vorname Nachname</a><br />
                                            Drums, Guitarr
                                        </div>
                                    </div>
                                    <div class="span-3 last">
                                        <div class="recommendedListButton">
                                            <input class="button-small grey" 
                                                type="submit" 
                                                value="Add" 
                                                onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">
                                        </div>
                                    </div>
                                </li>

                                <li class="trackListItem">
                                    <div class="span-3">
                                        <img src="../Images/testimages/profile-testimg-75x75.png" alt="profile-testimg-75x75" width="55" height="55" />
                                    </div>
                                    <div class="span-8">
                                        <div class="recommendedListName">
                                            <a href="#" title="Vorname Nachname">Vorname Nachname</a><br />
                                            Drums, Guitarr
                                        </div>
                                    </div>
                                    <div class="span-3 last">
                                        <div class="recommendedListButton">
                                            <input class="button-small grey" 
                                                type="submit" 
                                                value="Add" 
                                                onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">
                                        </div>
                                    </div>
                                </li>

                                <li class="trackListItem">
                                    <div class="span-3">
                                        <img src="../Images/testimages/profile-testimg-75x75.png" alt="profile-testimg-75x75" width="55" height="55" />
                                    </div>
                                    <div class="span-8">
                                        <div class="recommendedListName">
                                            <a href="#" title="Vorname Nachname">Vorname Nachname</a><br />
                                            Drums, Guitarr
                                        </div>
                                    </div>
                                    <div class="span-3 last">
                                        <div class="recommendedListButton">
                                            <input class="button-small grey" 
                                                type="submit" 
                                                value="Add" 
                                                onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">
                                        </div>
                                    </div>
                                </li>

                                <li class="trackListItem">
                                    <div class="span-3">
                                        <img src="../Images/testimages/profile-testimg-75x75.png" alt="profile-testimg-75x75" width="55" height="55" />
                                    </div>
                                    <div class="span-8">
                                        <div class="recommendedListName">
                                            <a href="#" title="Vorname Nachname">Vorname Nachname</a><br />
                                            Drums, Guitarr
                                        </div>
                                    </div>
                                    <div class="span-3 last">
                                        <div class="recommendedListButton">
                                            <input class="button-small grey" 
                                                type="submit" 
                                                value="Add" 
                                                onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">
                                        </div>
                                    </div>
                                </li>

                                <li class="trackListItem">
                                    <div class="span-3">
                                        <img src="../Images/testimages/profile-testimg-75x75.png" alt="profile-testimg-75x75" width="55" height="55" />
                                    </div>
                                    <div class="span-8">
                                        <div class="recommendedListName">
                                            <a href="#" title="Vorname Nachname">Vorname Nachname</a><br />
                                            Drums, Guitarr
                                        </div>
                                    </div>
                                    <div class="span-3 last">
                                        <div class="recommendedListButton">
                                            <input class="button-small grey" 
                                                type="submit" 
                                                value="Add" 
                                                onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">
                                        </div>
                                    </div>
                                </li>

                                <li class="trackListItem">
                                    <div class="span-3">
                                        <img src="../Images/testimages/profile-testimg-75x75.png" alt="profile-testimg-75x75" width="55" height="55" />
                                    </div>
                                    <div class="span-8">
                                        <div class="recommendedListName">
                                            <a href="#" title="Vorname Nachname">Vorname Nachname</a><br />
                                            Drums, Guitarr
                                        </div>
                                    </div>
                                    <div class="span-3 last">
                                        <div class="recommendedListButton">
                                            <input class="button-small grey" 
                                                type="submit" 
                                                value="Add" 
                                                onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">
                                        </div>
                                    </div>
                                </li>

                                <li class="trackListItem">
                                    <div class="span-3">
                                        <img src="../Images/testimages/profile-testimg-75x75.png" alt="profile-testimg-75x75" width="55" height="55" />
                                    </div>
                                    <div class="span-8">
                                        <div class="recommendedListName">
                                            <a href="#" title="Vorname Nachname">Vorname Nachname</a><br />
                                            Drums, Guitarr
                                        </div>
                                    </div>
                                    <div class="span-3 last">
                                        <div class="recommendedListButton">
                                            <input class="button-small grey" 
                                                type="submit" 
                                                value="Add" 
                                                onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">
                                        </div>
                                    </div>
                                </li>

                                <li class="trackListItem">
                                    <div class="span-3">
                                        <img src="../Images/testimages/profile-testimg-75x75.png" alt="profile-testimg-75x75" width="55" height="55" />
                                    </div>
                                    <div class="span-8">
                                        <div class="recommendedListName">
                                            <a href="#" title="Vorname Nachname">Vorname Nachname</a><br />
                                            Drums, Guitarr
                                        </div>
                                    </div>
                                    <div class="span-3 last">
                                        <div class="recommendedListButton">
                                            <input class="button-small grey" 
                                                type="submit" 
                                                value="Add" 
                                                onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">
                                        </div>
                                    </div>
                                </li>

                            </ul>
    
                    </div>
                </div>
                <div class="span-8 last">
                    <div class="box-grey">

                        <h2>Invite a Friend:</h2>
                        <input type="text" id="title" name="title" value="E-Mail" maxlength="255">
                        <input class="button-small blue" 
                            type="submit" 
                            value="send" 
                            onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">

                        <br />
                        <br />
                        <br />

                        <h2>Search an Artist:</h2>
                        <input type="text" id="title" name="title" value="Artist Name" maxlength="255">
                
                        <input class="button-small blue" 
                            type="submit" 
                            value="search" 
                            onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">


                    </div>
                </div>
            </div>
            
            <div class="span-24 last tabcontent-3">
                <div class="span-16">
                    <div class="box-grey">
                        <h2>Project Title</h2>
                        <br />
                        <p>
                            Projectdescription Projectdescription Projectdescription Projectdescription Projectdescription 
                            Projectdescription Projectdescription Projectdescription Projectdescription Projectdescription 
                            Projectdescription Projectdescription Projectdescription Projectdescription ...
                        </p>
                        <br />
                    
                        <form name="projectForm" action="${formAction}" method="POST" style="display:inline-block;">
                            <input type="hidden" name="action" value="save">
                            <input type="hidden" name="pid" value="${projectId}">
                            <input type="hidden" name="type" value="${type}">
                            <input type="hidden" name="projectSubGenresList" id="projectSubGenresList" value="">
                            <input type="hidden" name="projectMoodsList" id="projectMoodsList" value="">
                            <input type="hidden" name="projectAttributesList" id="projectAttributesList" value="">
                            
                            <h2>stems list</h2>
                            <p>
                                - textfeld<br />
                                - name vom künstler<br />
                                - instrument<br />
                                - boolean<br />
                            </p>
                            <br />
                            
                            <div class="prepend-6 span-6 last">
                                <input class="button blue" 
                                    type="submit" 
                                    value="Download selected Stems" 
                                    onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">
                            </div>
                                                        
                            <br />
                            <br />
                            <br />
                            
                            <h2>releases list</h2>
                            <p>
                                - title<br />
                            </p>
                            

                            <br />
                            <br />
                            <br />
                            
                            <h2>mixes list</h2>
                            <p>
                                - title<br />
                                - stems<br />
                            </p>
                            
                            
                            
                            <div class="prepend-6 span-6 last">
                                <input class="button blue" 
                                    type="submit" 
                                    value="${submitButtonValue}" 
                                    onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="span-8 last">
                    <div class="box-grey">
                        <h2>${headline}</h2>
                        <br />
                        ${Common/message_choice_list}
                        ${Project/uploadedFilesSection}
                        <br />
                        &nbsp;
                    </div>
                </div>
                
            </div>



            <div class="span-24 last tabcontent-4">
                <div class="span-16">
                    <div class="box-grey">
                        
                        <form name="projectForm" action="${formAction}" method="POST" style="display:inline-block;">
                        
                            <h2>Share</h2>
                            <br />
                            <p>List with Names</p>
                            <p>Aufteilung in %</p>
                            
                            <h2>Opitons</h2>
                            <input type="checkbox" name="needsAttributIds" id="needsAttributIds" value="1"> iTunes<br />
                            <input type="checkbox" name="needsAttributIds" id="needsAttributIds" value="1"> sptify<br />
                            <input type="checkbox" name="needsAttributIds" id="needsAttributIds" value="1"> Soundcloud<br />

                            <br />
                            <br />

                            <div id="formElt_artist_info" class=" formElement span-15 last">
                                <div class="span-6">Artist/Band information:</div>
                                <div class="span-8">
                                    <textarea id="artist_info" name="artist_info" rows="3" cols="30"></textarea>
                                </div>
                                <div class="span-1 last"></div>
                            </div>

                  
                        
                            <div class="prepend-6 span-6 last">
                                <input class="button blue" 
                                    type="submit" 
                                    value="${submitButtonValue}" 
                                    onClick="buildProjectAttributesAndSubGenresAndMoodsLists();">
                            </div>
                        
                        </form>
                        
                    </div>
                </div>
            </div>
    
            <br />
            <br />
            <br />
            <a href="projectList.php">&larr; back to project list</a>
    
</div>


${Common/bodyFooter}

</body>

<script type="text/javascript" src="../Javascripts/Snippets.js"></script>

<script type="text/javascript">

function checkDeleteResponseAndRefreshFileList(deleteWasOk, data) {
    if (deleteWasOk) {
        //document.projectForm.submit();
        refreshProjectFilesSection(data.projectId);
    } else {
        alert('File deletion failed: ' + data.error);
    }
}

function refreshProjectFilesSection(projectId) {
    $.ajax({
        type: 'GET',
        url: 'project.php',
        data: 'action=getProjectFilesHtml' +
              '&pid=' + projectId,
        dataType: 'html',
        cache: false,
        timeout: 15000, // 15 seconds
        async: false,
        error: function(xmlHttpRequest, textStatus, errorThrown) {
            alert('ERROR: ' + textStatus + ' - ' + errorThrown);
        },
        success: function(data, textStatus, dummy) {
            $('#projectFilesSection').html(data);
        }
    });
}

function openUploaderPopup(isMixMp3File) {
    window.open(
            '../Uploader/uploader.php?sf=0&pid=${projectId}&isMixMp3=' + (isMixMp3File ? 1 : 0),
            'ONELOUDR_UPLOADER',
            'scrollbars=0,status=0,width=640,height=350'
    );
}

function buildProjectAttributesAndSubGenresAndMoodsLists() {
    if ($('#attributes').val()) {
        var aList = $('#attributes').val().join(','); // create comma separated list string ...
        $('#projectAttributesList').val(aList); // ... and save the string in the hidden field
    }

    if ($('#subGenres').val()) {
        var gList = $('#subGenres').val().join(','); // create comma separated list string ...
        $('#projectSubGenresList').val(gList); // ... and save the string in the hidden field
    }

    if ($('#moods').val()) {
        var mList = $('#moods').val().join(','); // create comma separated list string ...
        $('#projectMoodsList').val(mList); // ... and save the string in the hidden field
    }
}

// convert all select fields with special class to chosen thingies
$(".chzn-select").chosen();

</script>

${Common/pageFooter}
