
<form name="projectFileForm_${projectFileId}" action="${formAction}" method="POST" style="display:inline-block;">
  <input type="hidden" name="action" value="saveProjectFileMetadata">
  <input type="hidden" name="pid" value="${projectId}">
  <input type="hidden" name="fid" value="${projectFileId}">
  <input type="hidden" name="projectFileAttributesList_${projectFileId}" id="projectFileAttributesList_${projectFileId}" value="">
  ${Common/formElement_list}
  <input class="button-small blue"
         type="submit"
         value="Save"
         onClick="buildProjectFileAttributesLists(${projectFileId});"><br />
  <p class="smallText charsRemaining"></p>
</form>