<div class="span-15 last projectAudioListItem">
    <div class="span-15 last">
        <div class="span-1">
            ${projectFileElementCheckbox_optional}
            &nbsp;
        </div>
        <div class="span-5">
            ${uploaderUserImg}<br />
            ${uploadedByName}<br />
            ${fileIcon_choice}&nbsp;<br />
            ${Project/deleteFileLink_optional}
        </div>
        <div class="span-8">

            ${Project/player_optional}

            <div class="span-9 last">
                <div class="span-3">
                    <span class="titleText">Download:</span>
                </div>
                <div class="span-6 last">
                    <a href="${fileDownloadUrl}" target="_blank">${filename}</a>
                </div>
            </div>

            ${Project/projectFileMetadataForm_optional}
            ${Project/projectFileMetadata_optional}

            </form>

        </div>
    </div>

</div>
