<div class="span-24 last tabcontent-4${tabcontentAct_publish}">
    <div class="span-16">
        <div class="box-grey">

                <h2>Share</h2>
                <br />
                <p>List with Names</p>
                <p>Aufteilung in %</p>

                <h2>Opitons</h2>
                <input type="checkbox" name="needsAttributIds" id="needsAttributIds" value="1"> iTunes<br />
                <input type="checkbox" name="needsAttributIds" id="needsAttributIds" value="1"> sptify<br />
                <input type="checkbox" name="needsAttributIds" id="needsAttributIds" value="1"> Soundcloud<br />

                <br />
                <br />

                <div id="formElt_artist_info" class=" formElement span-15 last">
                    <div class="span-6">Artist/Band information:</div>
                    <div class="span-8">
                        <textarea id="artist_info" name="artist_info" rows="3" cols="30"></textarea>
                    </div>
                    <div class="span-1 last"></div>
                </div>



                <div class="prepend-6 span-6 last">
                    <input class="button blue"
                        type="submit"
                        value="${submitButtonValue}">
                </div>


        </div>
    </div>
    <div style="clear: both;">
        <br />
        <br />
        <br />
        <a class="tab-3" href="#">&larr; back to recommended artists</a>
    </div> 
</div>