<div class="span-24 last tabcontent-4${tabcontentAct_publish}">
    <div class="span-16">
        <div class="box-grey">

            <h2>Publish</h2>
            ${Common/message_choice_list}
            <form name="publishForm" action="${formAction}" method="POST" style="display:inline-block;">
                <input type="hidden" name="action" value="publishSave">
                <input type="hidden" name="pid" value="${projectId}">
                <input type="hidden" name="pfid" value="${projectFileId}">
                
                <div class="formElement span-15 last">
                    <div class="span-6">
                        Project:
                    </div>                
                    <div class="span-8">
                        ${projectName}
                    </div>                
                    <div class="span-1 last">
                        &nbsp;
                    </div>                
                </div>
                
                ${Common/formElement_list}
                
                <div class="formElement span-15 last">
                    <div class="span-6">
                        Release date:
                    </div>                
                    <div class="span-8">
                        ${releaseDate}
                    </div>                
                    <div class="span-1 last">
                        &nbsp;
                    </div>                
                </div>
                                
                <h3>Contributors:</h3>
                
                Select the checkboxes of all contributions, which are featured in this mix/release:<br />
                <br />
                
                ${Project/releaseContributionElement_list}

                <div class="prepend-6 span-6 last">
                    <input class="button blue"
                        type="submit"
                        value="${publishButtonValue}"
                        onClick="document.publishForm.submit();">
                </div>
            </form>
        </div>
    </div>
    <div style="clear: both;">
        <br />
        <br />
        <br />
        <a class="tab-3" href="#">&larr; back to recommended artists</a>
    </div> 
</div>