<div class="span-24 last tabcontent-2${tabcontentAct_invite}">
    <div class="span-16">
        <div class="box-grey">

                <h2>Recommended Artists</h2>

                <ul class="recommendedList">
                    ${recommendedArtistElement_list}
                </ul>

        </div>
    </div>
    <div class="span-8 last">
        <div class="box-grey">

            <h2>Invite a Friend:</h2>
            <input type="text" id="title" name="title" value="E-Mail" maxlength="255">
            <input class="button-small blue"
                type="submit"
                value="send">

            <br />
            <br />
            <br />

            <h2>Search an Artist:</h2>
            <input type="text" id="search_name" name="search_name" value="Artist Name" maxlength="255">

            <input class="button-small blue"
                type="submit"
                rel="search_name"
                value="search">


        </div>
    </div>
</div>