<div id="projectFilesSection" class="span-15 last">
  ${Common/message_choice_list}

    <div id="stemsSection" class="span-15 last projectSection">
        <h1>Stems:</h1>
        <div class="span-15 last projectAudioList">
          ${Project/projectFileElement_list_stems}
          ${Project/projectFilesNotFound_optional_stems}
        </div>

        <div class="span-15 last projectSectionButtons">
                <a href="#" class="button-small grey projectListSelectAll">Select all</a>
                <input class="button-small blue"
                    type="submit"
                    value="Download selected stems"
                    onClick="downloadSelectedStems();">
                ${Project/uploadStemsButton_optional}
        </div>
        
    </div>

    <div id="releasesSection" class="span-15 last projectSection">
        <h1>Releases:</h1>
        <div class="span-15 last projectAudioList">
            ${Project/projectFileElement_list_releases}
            ${Project/projectFilesNotFound_optional_releases}
        </div>
    </div>

    <div id="mixesSection" class="span-15 last projectSection">
        <h1>Mixes:</h1>
        <div class="span-15 last projectAudioList">
            ${Project/projectFileElement_list_mixes}
            ${Project/projectFilesNotFound_optional_mixes}
        </div>

        <div class="span-15 last projectSectionButtons">
            <div class="span-3 last">
                ${Project/uploadMixFilesButton_optional}
            </div>
        </div>
    
    </div>

</div>
